In [1]:
!pip install -U finance-datareader

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: finance-datareader in /usr/local/lib/python3.7/dist-packages (0.9.34)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from finance-datareader) (4.2.6)
Requirement already satisfied: requests-file in /usr/local/lib/python3.7/dist-packages (from finance-datareader) (1.5.1)
Requirement already satisfied: requests>=2.3.0 in /usr/local/lib/python3.7/dist-packages (from finance-datareader) (2.23.0)
Requirement already satisfied: pandas>=0.19.2 in /usr/local/lib/python3.7/dist-packages (from finance-datareader) (1.3.5)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from finance-datareader) (4.64.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.19.2->finance-datareader) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.19.2->finance-datareader) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.19.2->finance-datareader) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.19.2->finance-datareader) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.3.0->finance-datareader) (2022.6.15)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.3.0->finance-datareader) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.3.0->finance-datareader) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.3.0->finance-datareader) (3.0.4)

In [2]:
import pandas as pd
import os
from tqdm import tqdm
import FinanceDataReader as fdr

# 파일별로 분류

In [3]:
import glob

재무상태표 = [] # _01_
손익계산서 = [] # _02_
포괄손익계산서 = [] # _03_
현금흐름표 = [] # _04_
자본변동표 = [] #_05_


for name in glob.glob('/content/drive/MyDrive/22캡스톤디자인/재무일괄/업데이트/*.txt'):
  if '_01_' in name:
    재무상태표.append(name)
  elif '_02_' in name:
    손익계산서.append(name)
  elif '_03_' in name:
    포괄손익계산서.append(name)
  elif '_04_' in name:
    현금흐름표.append(name)
  elif '_05_' in name:
    자본변동표.append(name)

In [4]:
sample = pd.DataFrame(columns=['종목코드','사업연도', '보고서종류', '회사명', '업종', '항목코드','항목명', '당기'])

# 데이터 추출

## 현금흐름표

In [5]:
현금흐름샘플 = pd.DataFrame(columns=['종목코드','사업연도', '보고서종류', '회사명', '업종', '항목코드','항목명', '당기'])
for path in tqdm(현금흐름표):
  df = pd.read_csv(path, delimiter = '\t', encoding='cp949')

  당기 = ''
  if df['보고서종류'][0] == '1분기보고서':
    당기 = '당기 1분기' 
  elif df['보고서종류'][0] == '반기보고서':
    당기 = '당기 반기' 
  elif df['보고서종류'][0] == '3분기보고서':
    당기 = '당기 3분기' 
  elif df['보고서종류'][0] == '사업보고서':
    당기 = '당기' 

  df['사업연도'] = path[57:61] # 사업연도 컬럼 설정 - 파일명에서 가져온다
  df['항목명'] = df['항목명'].str.strip() # 항목명 컬럼 문자열 전처리
  df['항목코드'] = df['항목코드'].str.strip() # 항목코드 컬럼 문자열 전처리

  df = df[['종목코드','사업연도', '보고서종류', '회사명', '업종', '항목코드','항목명', 당기]]

  전체종목 = len(df['종목코드'].unique())

  # 영업활동현금흐름(ifrs_CashFlowsFromUsedInOperatingActivities)
  영업활동현금흐름 = df[(df['항목코드'] == 'ifrs-full_CashFlowsFromUsedInOperatingActivities') | (df['항목코드'] == 'ifrs_CashFlowsFromUsedInOperatingActivities') | (df['항목명'].str.contains('영업활동'))]
  영업활동현금흐름.rename(columns={당기:"당기"}, inplace=True)
  영업활동현금흐름.drop_duplicates(['종목코드','사업연도','보고서종류','항목명'])
  현금흐름샘플 = 현금흐름샘플.append(영업활동현금흐름, sort=False, ignore_index=True)
  

  # 투자활동현금흐름(ifrs_CashFlowsFromUsedInInvestingActivities)
  투자활동현금흐름 = df[(df['항목코드'] == 'ifrs_CashFlowsFromUsedInInvestingActivities') | (df['항목코드'] == 'ifrs-full_CashFlowsFromUsedInInvestingActivities') | (df['항목명'].str.contains('투자활동'))]
  투자활동현금흐름.rename(columns={당기:"당기"}, inplace=True)
  투자활동현금흐름.drop_duplicates(['종목코드','사업연도','보고서종류','항목명'])
  현금흐름샘플 = 현금흐름샘플.append(투자활동현금흐름, sort=False, ignore_index=True)

  # 재무활동현금흐름(ifrs_CashFlowsFromUsedInFinancingActivities)
  재무활동현금흐름 = df[(df['항목코드'] == 'ifrs_CashFlowsFromUsedInFinancingActivities') | (df['항목코드'] == 'ifrs-full_CashFlowsFromUsedInFinancingActivities') |(df['항목명'].str.contains('재무활동'))]
  재무활동현금흐름.rename(columns={당기:"당기"}, inplace=True)
  재무활동현금흐름.drop_duplicates(['종목코드','사업연도','보고서종류','항목명'])
  현금흐름샘플 = 현금흐름샘플.append(재무활동현금흐름, sort=False, ignore_index=True)

  0%|          | 0/2 [00:00<?, ?it/s]/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
100%|██████████| 2/2 [00:01<00:00,  1.10it/s]

In [6]:
현금흐름샘플

,종목코드,사업연도,보고서종류,회사명,업종,항목코드,항목명,당기
0,[060310],2021,사업보고서,3S,292,ifrs-full_CashFlowsFromUsedInOperatingActivities,영업활동으로 인한 현금흐름,"871,088,551"
1,[060310],2021,사업보고서,3S,292,dart_AdjustmentsForAssetsLiabilitiesOfOperatin...,영업활동으로 인한 자산부채의 변동,"574,640,381"
2,[095570],2021,사업보고서,AJ네트웍스,763,ifrs-full_CashFlowsFromUsedInOperatingActivities,영업활동 현금흐름,"-11,318,072,318"
3,[006840],2021,사업보고서,AK홀딩스,649,ifrs-full_CashFlowsFromUsedInOperatingActivities,영업활동현금흐름,"-9,766,237,791"
4,[054620],2021,사업보고서,APS홀딩스,649,ifrs-full_CashFlowsFromUsedInOperatingActivities,영업활동현금흐름,"-1,568,988,010"
...,...,...,...,...,...,...,...,...
14863,[003280],2022,1분기보고서,흥아해운,501,ifrs-full_CashFlowsFromUsedInFinancingActivities,재무활동현금흐름,"-3,544,038,131"
14864,[037440],2022,1분기보고서,희림,721,ifrs-full_CashFlowsFromUsedInFinancingActivities,재무활동현금흐름,"-2,162,502,506"
14865,[238490],2022,1분기보고서,힘스,292,ifrs-full_CashFlowsFromUsedInFinancingActivities,재무활동현금흐름,"-254,631,420"
14866,[238490],2022,1분기보고서,힘스,292,entity00556712_udf_CF_20201022103737527_CashFl...,재무활동으로 인한 현금 유입액,"2,001,000,000"
14867,[238490],2022,1분기보고서,힘스,292,entity00556712_udf_CF_20201022103852383_CashFl...,재무활동으로 인한 현금 유출액,"-2,255,631,420"

## 손익계산서

In [7]:
손익계산샘플 = pd.DataFrame(columns=['종목코드','사업연도', '보고서종류', '회사명', '업종', '항목코드','항목명', '당기'])
for path in tqdm(손익계산서):
  df = pd.read_csv(path, delimiter = '\t', encoding='cp949')

  당기 = ''
  if df['보고서종류'][0] == '1분기보고서':
    당기 = '당기 1분기 누적' 
  elif df['보고서종류'][0] == '반기보고서':
    당기 = '당기 반기 누적' 
  elif df['보고서종류'][0] == '3분기보고서':
    당기 = '당기 3분기 누적' 
  elif df['보고서종류'][0] == '사업보고서':
    당기 = '당기' 

  df['사업연도'] = path[57:61] # 사업연도 컬럼 d설정 - 파일명에서 가져온다
  df['항목명'] = df['항목명'].str.strip() # 항목명 컬럼 문자열 전처리
  df['항목코드'] = df['항목코드'].str.strip() # 항목코드 컬럼 문자열 전처리

  df = df[['종목코드','사업연도', '보고서종류', '회사명', '업종', '항목코드','항목명', 당기]]

  전체종목 = len(df['종목코드'].unique())

  # (수익)매출액 (ifrs-full_Revenue)
  매출액 = df[(df['항목코드'] == 'ifrs_Revenue') | (df['항목코드'] == 'ifrs-full_Revenue') | (df['항목명'].isin(['매출액','(수익)매출액','매출액(수익)','수익(매출액)']))]
  매출액.rename(columns={당기:"당기"}, inplace=True)
  매출액.drop_duplicates(['종목코드','사업연도','보고서종류','항목명'])
  손익계산샘플 = 손익계산샘플.append(매출액, sort=False, ignore_index=True)


  # 매출총이익 (ifrs-full_GrossProfit))
  매출총이익 = df[(df['항목코드'] == 'ifrs_GrossProfit') | (df['항목코드'] == 'ifrs-full_GrossProfit')| (df['항목명'].isin(['매출총이익','(수익)매출총이익','매출총이익(손실)']))]
  매출총이익.rename(columns={당기:"당기"}, inplace=True)
  매출총이익.drop_duplicates(['종목코드','사업연도','보고서종류','항목명'])
  손익계산샘플 = 손익계산샘플.append(매출총이익, sort=False, ignore_index=True)

  # 영업이익(손실) (dart_OperatingIncomeLoss)
  영업이익 = df[(df['항목코드'] == 'dart_OperatingIncomeLoss')|(df['항목명'].isin(['영업이익','영업이익(손실)']))]
  영업이익.rename(columns={당기:"당기"}, inplace=True)
  영업이익.drop_duplicates(['종목코드','사업연도','보고서종류','항목명'])
  손익계산샘플 = 손익계산샘플.append(영업이익, sort=False, ignore_index=True)
  
  # 당기순이익(손실) (ifrs_ProfitLoss)
  당기순이익 = df[(df['항목코드'] == 'ifrs-full_ProfitLoss') | (df['항목코드'] == 'ifrs_ProfitLoss') |  (df['항목명'].isin(['당기순이익','당기순이익(손실)']))]
  당기순이익.rename(columns={당기:"당기"}, inplace=True)
  당기순이익.drop_duplicates(['종목코드','사업연도','보고서종류','항목명'])
  손익계산샘플 = 손익계산샘플.append(당기순이익, sort=False, ignore_index=True)

  # 비지배지분(ifrs_ProfitLossAttributableToNoncontrollingInterests)
  비지배지분 = df[(df['항목코드'] == 'ifrs-full_ProfitLossAttributableToNoncontrollingInterests') | (df['항목코드'] == 'ifrs_ProfitLossAttributableToNoncontrollingInterests') | (df['항목명'].str.contains('비지배'))]
  비지배지분.rename(columns={당기:"당기"}, inplace=True)
  비지배지분.drop_duplicates(['종목코드','사업연도','보고서종류','항목명'])
  손익계산샘플 = 손익계산샘플.append(비지배지분, sort=False, ignore_index=True)

  # 감가상각비(dart_DepreciationExpense)
  감가상각비 = df[(df['항목코드'] == 'dart_DepreciationExpense')|(df['항목명'].isin(['감가상각비']))]
  감가상각비.rename(columns={당기:"당기"}, inplace=True)
  손익계산샘플 = 손익계산샘플.append(감가상각비, sort=False, ignore_index=True)

  # 법인세비용차감전순이익(손실)(ifrs-full_ProfitLossBeforeTax)
  법인세차감전순이익 = df[(df['항목코드'] == 'ifrs-full_ProfitLossBeforeTax') | (df['항목코드'] == 'ifrs_ProfitLossBeforeTax') | df['항목명'].isin(['법인세차감전순이익','법인세차감전순이익(손실)'])]
  법인세차감전순이익.rename(columns={당기:"당기"}, inplace=True)
  법인세차감전순이익.drop_duplicates(['종목코드','사업연도','보고서종류','항목명'])
  손익계산샘플 = 손익계산샘플.append(법인세차감전순이익, sort=False, ignore_index=True)

  0%|          | 0/2 [00:00<?, ?it/s]/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
100%|██████████| 2/2 [00:00<00:00, 11.83it/s]

In [8]:
손익계산샘플

,종목코드,사업연도,보고서종류,회사명,업종,항목코드,항목명,당기
0,[001040],2021,사업보고서,CJ,649,ifrs-full_Revenue,매출액,"34,484,026,554,000"
1,[000120],2021,사업보고서,CJ대한통운,493,ifrs-full_Revenue,매출액,"11,343,651,787,492"
2,[000990],2021,사업보고서,DB하이텍,261,ifrs-full_Revenue,매출액,"1,214,682,040,178"
3,[000210],2021,사업보고서,DL,649,ifrs-full_Revenue,매출액,"2,385,420,753,496"
4,[375500],2021,사업보고서,DL이앤씨,412,ifrs-full_Revenue,매출액,"7,631,650,898,582"
...,...,...,...,...,...,...,...,...
1931,[008770],2022,1분기보고서,호텔신라,478,ifrs-full_ProfitLossBeforeTax,VII. 법인세비용차감전순손익,"-7,795,875,667"
1932,[004800],2022,1분기보고서,효성,649,ifrs-full_ProfitLossBeforeTax,법인세비용차감전 계속영업이익(손실),"72,969,011,271"
1933,[298050],2022,1분기보고서,효성첨단소재,205,ifrs-full_ProfitLossBeforeTax,법인세비용차감전순이익(손실),"93,763,702,404"
1934,[298020],2022,1분기보고서,효성티앤씨,205,ifrs-full_ProfitLossBeforeTax,법인세비용차감전순이익,"159,571,477,299"
1935,[298000],2022,1분기보고서,효성화학,201,ifrs-full_ProfitLossBeforeTax,법인세비용차감전순이익(손실),"-50,522,540,921"

## 포괄손익계산서

In [9]:
포괄손익계산샘플 = pd.DataFrame(columns=['종목코드','사업연도', '보고서종류', '회사명', '업종', '항목코드','항목명', '당기'])
for path in tqdm(포괄손익계산서):
  df = pd.read_csv(path, delimiter = '\t', encoding='cp949')

  당기 = ''
  if df['보고서종류'][0] == '1분기보고서':
    당기 = '당기 1분기 누적' 
  elif df['보고서종류'][0] == '반기보고서':
    당기 = '당기 반기 누적' 
  elif df['보고서종류'][0] == '3분기보고서':
    당기 = '당기 3분기 누적' 
  elif df['보고서종류'][0] == '사업보고서':
    당기 = '당기' 

  df['사업연도'] = path[57:61] # 사업연도 컬럼 d설정 - 파일명에서 가져온다
  df['항목명'] = df['항목명'].str.strip() # 항목명 컬럼 문자열 전처리
  df['항목코드'] = df['항목코드'].str.strip() # 항목코드 컬럼 문자열 전처리

  df = df[['종목코드','사업연도', '보고서종류', '회사명', '업종', '항목코드','항목명', 당기]]

  전체종목 = len(df['종목코드'].unique())

  # (수익)매출액 (ifrs-full_Revenue)
  매출액 = df[(df['항목코드'] == 'ifrs_Revenue') | (df['항목코드'] == 'ifrs-full_Revenue') | (df['항목명'].isin(['매출액','(수익)매출액','매출액(수익)','수익(매출액)']))]
  매출액.rename(columns={당기:"당기"}, inplace=True)
  매출액.drop_duplicates(['종목코드','사업연도','보고서종류','항목명'])
  포괄손익계산샘플 = 포괄손익계산샘플.append(매출액, sort=False, ignore_index=True)


  # 매출총이익 (ifrs-full_GrossProfit))
  매출총이익 = df[(df['항목코드'] == 'ifrs_GrossProfit') | (df['항목코드'] == 'ifrs-full_GrossProfit')| (df['항목명'].isin(['매출총이익','(수익)매출총이익','매출총이익(손실)']))]
  매출총이익.rename(columns={당기:"당기"}, inplace=True)
  매출총이익.drop_duplicates(['종목코드','사업연도','보고서종류','항목명'])
  포괄손익계산샘플 = 포괄손익계산샘플.append(매출총이익, sort=False, ignore_index=True)

  # 영업이익(손실) (dart_OperatingIncomeLoss)
  영업이익 = df[(df['항목코드'] == 'dart_OperatingIncomeLoss')|(df['항목명'].isin(['영업이익','영업이익(손실)']))]
  영업이익.rename(columns={당기:"당기"}, inplace=True)
  영업이익.drop_duplicates(['종목코드','사업연도','보고서종류','항목명'])
  포괄손익계산샘플 = 포괄손익계산샘플.append(영업이익, sort=False, ignore_index=True)
  
  # 당기순이익(손실) (ifrs_ProfitLoss)
  당기순이익 = df[(df['항목코드'] == 'ifrs-full_ProfitLoss') | (df['항목코드'] == 'ifrs_ProfitLoss') |  (df['항목명'].isin(['당기순이익','당기순이익(손실)']))]
  당기순이익.rename(columns={당기:"당기"}, inplace=True)
  당기순이익.drop_duplicates(['종목코드','사업연도','보고서종류','항목명'])
  포괄손익계산샘플 = 포괄손익계산샘플.append(당기순이익, sort=False, ignore_index=True)

  # 비지배지분(ifrs_ProfitLossAttributableToNoncontrollingInterests)
  비지배지분 = df[(df['항목코드'] == 'ifrs-full_ProfitLossAttributableToNoncontrollingInterests') | (df['항목코드'] == 'ifrs_ProfitLossAttributableToNoncontrollingInterests') | (df['항목명'].str.contains('비지배'))]
  비지배지분.rename(columns={당기:"당기"}, inplace=True)
  비지배지분.drop_duplicates(['종목코드','사업연도','보고서종류','항목명'])
  포괄손익계산샘플 = 포괄손익계산샘플.append(비지배지분, sort=False, ignore_index=True)

  # 감가상각비(dart_DepreciationExpense)
  감가상각비 = df[(df['항목코드'] == 'dart_DepreciationExpense')|(df['항목명'].isin(['감가상각비']))]
  감가상각비.rename(columns={당기:"당기"}, inplace=True)
  포괄손익계산샘플 = 포괄손익계산샘플.append(감가상각비, sort=False, ignore_index=True)

  # 법인세비용차감전순이익(손실)(ifrs-full_ProfitLossBeforeTax)
  법인세차감전순이익 = df[(df['항목코드'] == 'ifrs-full_ProfitLossBeforeTax') | (df['항목코드'] == 'ifrs_ProfitLossBeforeTax') | df['항목명'].isin(['법인세차감전순이익','법인세차감전순이익(손실)'])]
  법인세차감전순이익.rename(columns={당기:"당기"}, inplace=True)
  법인세차감전순이익.drop_duplicates(['종목코드','사업연도','보고서종류','항목명'])
  포괄손익계산샘플 = 포괄손익계산샘플.append(법인세차감전순이익, sort=False, ignore_index=True)

  0%|          | 0/2 [00:00<?, ?it/s]/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
100%|██████████| 2/2 [00:01<00:00,  1.44it/s]

In [10]:
포괄손익계산샘플['종목코드'] = 포괄손익계산샘플['종목코드'].apply(lambda x:x[1:-1]) 
mask = (포괄손익계산샘플['항목명'].str.contains('포괄|계속|중단|해외'))|(포괄손익계산샘플['항목코드'].str.contains('Operations|ComprehensiveIncome'))
포괄손익계산샘플 = 포괄손익계산샘플[~mask]

포괄손익계산샘플['항목명'] = 포괄손익계산샘플.apply(lambda x: '매출액' if x['항목코드'] == 'ifrs_Revenue' else x['항목명'], axis=1)
포괄손익계산샘플['항목명'] = 포괄손익계산샘플.apply(lambda x: '매출액' if x['항목코드'] == 'ifrs-full_Revenue' else x['항목명'], axis=1)
포괄손익계산샘플['항목명'] = 포괄손익계산샘플.apply(lambda x: '매출총이익' if x['항목코드'] == 'ifrs_GrossProfit' else x['항목명'], axis=1)
포괄손익계산샘플['항목명'] = 포괄손익계산샘플.apply(lambda x: '매출총이익' if x['항목코드'] == 'ifrs-full_GrossProfit' else x['항목명'], axis=1)
포괄손익계산샘플['항목명'] = 포괄손익계산샘플.apply(lambda x: '영업이익' if x['항목코드'] == 'dart_OperatingIncomeLoss' else x['항목명'], axis=1)
포괄손익계산샘플['항목명'] = 포괄손익계산샘플.apply(lambda x: '당기순이익' if x['항목코드'] == 'ifrs_ProfitLoss' else x['항목명'], axis=1)
포괄손익계산샘플['항목명'] = 포괄손익계산샘플.apply(lambda x: '당기순이익' if x['항목코드'] == 'ifrs-full_ProfitLoss' else x['항목명'], axis=1)

포괄손익계산샘플['항목명'] = 포괄손익계산샘플.apply(lambda x: '당기순이익(비지배)' if 'ProfitLossAttributableToNoncontrollingInterests' in x['항목코드'] else x['항목명'], axis=1)

포괄손익계산샘플['항목명'] = 포괄손익계산샘플.apply(lambda x: '감가상각비' if x['항목코드'] == 'dart_DepreciationExpense' else x['항목명'], axis=1)
포괄손익계산샘플['항목명'] = 포괄손익계산샘플.apply(lambda x: '법인세비용차감전순이익' if x['항목코드'] == 'ifrs_ProfitLossBeforeTax' else x['항목명'], axis=1)
포괄손익계산샘플['항목명'] = 포괄손익계산샘플.apply(lambda x: '법인세비용차감전순이익' if x['항목코드'] == 'ifrs-full_ProfitLossBeforeTax' else x['항목명'], axis=1)
포괄손익계산샘플['항목명'] = 포괄손익계산샘플.apply(lambda x: '매출액' if x['항목명'] == '수익(매출액)' else x['항목명'], axis=1)
포괄손익계산샘플['항목명'] = 포괄손익계산샘플.apply(lambda x: '매출총이익' if x['항목명'] == '매출총이익(손실)' else x['항목명'], axis=1)
포괄손익계산샘플['항목명'] = 포괄손익계산샘플.apply(lambda x: '영업이익' if x['항목명'] == '영업이익(손실)' else x['항목명'], axis=1)
포괄손익계산샘플['항목명'] = 포괄손익계산샘플.apply(lambda x: '당기순이익' if x['항목명'] == '당기순이익(손실)' else x['항목명'], axis=1)
포괄손익계산샘플['항목명'] = 포괄손익계산샘플.apply(lambda x: '법인세차감전순이익' if x['항목명'] == '법인세차감전순이익(손실)' else x['항목명'], axis=1)
포괄손익계산샘플['항목명'] = 포괄손익계산샘플.apply(lambda x: '법인세차감전순이익' if x['항목명'] == '법인세비용차감전순이익' else x['항목명'], axis=1)

포괄손익계산샘플

,종목코드,사업연도,보고서종류,회사명,업종,항목코드,항목명,당기
0,060310,2021,사업보고서,3S,292,ifrs-full_Revenue,매출액,"23,477,908,383"
1,095570,2021,사업보고서,AJ네트웍스,763,ifrs-full_Revenue,매출액,"1,026,749,457,003"
2,006840,2021,사업보고서,AK홀딩스,649,ifrs-full_Revenue,매출액,"3,167,699,652,090"
3,054620,2021,사업보고서,APS홀딩스,649,ifrs-full_Revenue,매출액,"39,415,521,257"
4,265520,2021,사업보고서,AP시스템,292,ifrs-full_Revenue,매출액,"528,740,970,343"
...,...,...,...,...,...,...,...,...
22625,010240,2022,1분기보고서,흥국,292,ifrs-full_ProfitLossBeforeTax,법인세차감전순이익,"3,353,383,900"
22626,189980,2022,1분기보고서,흥국에프엔비,112,ifrs-full_ProfitLossBeforeTax,법인세차감전순이익,"1,236,152,104"
22627,003280,2022,1분기보고서,흥아해운,501,ifrs-full_ProfitLossBeforeTax,법인세차감전순이익,"-371,037,287"
22628,037440,2022,1분기보고서,희림,721,ifrs-full_ProfitLossBeforeTax,법인세차감전순이익,"1,745,202,772"
22629,238490,2022,1분기보고서,힘스,292,ifrs-full_ProfitLossBeforeTax,법인세차감전순이익,"-1,583,135,799"

In [11]:
포괄손익계산샘플

,종목코드,사업연도,보고서종류,회사명,업종,항목코드,항목명,당기
0,060310,2021,사업보고서,3S,292,ifrs-full_Revenue,매출액,"23,477,908,383"
1,095570,2021,사업보고서,AJ네트웍스,763,ifrs-full_Revenue,매출액,"1,026,749,457,003"
2,006840,2021,사업보고서,AK홀딩스,649,ifrs-full_Revenue,매출액,"3,167,699,652,090"
3,054620,2021,사업보고서,APS홀딩스,649,ifrs-full_Revenue,매출액,"39,415,521,257"
4,265520,2021,사업보고서,AP시스템,292,ifrs-full_Revenue,매출액,"528,740,970,343"
...,...,...,...,...,...,...,...,...
22625,010240,2022,1분기보고서,흥국,292,ifrs-full_ProfitLossBeforeTax,법인세차감전순이익,"3,353,383,900"
22626,189980,2022,1분기보고서,흥국에프엔비,112,ifrs-full_ProfitLossBeforeTax,법인세차감전순이익,"1,236,152,104"
22627,003280,2022,1분기보고서,흥아해운,501,ifrs-full_ProfitLossBeforeTax,법인세차감전순이익,"-371,037,287"
22628,037440,2022,1분기보고서,희림,721,ifrs-full_ProfitLossBeforeTax,법인세차감전순이익,"1,745,202,772"
22629,238490,2022,1분기보고서,힘스,292,ifrs-full_ProfitLossBeforeTax,법인세차감전순이익,"-1,583,135,799"

## 재무상태표

In [12]:
재무상태샘플 = pd.DataFrame(columns=['종목코드','사업연도', '보고서종류', '회사명', '업종', '항목코드','항목명', '당기'])

for path in tqdm(재무상태표):
  df = pd.read_csv(path, delimiter = '\t', encoding='cp949')

  당기 = ''
  if df['보고서종류'][0] == '1분기보고서':
    당기 = '당기 1분기말' 
  elif df['보고서종류'][0] == '반기보고서':
    당기 = '당기 반기말' 
  elif df['보고서종류'][0] == '3분기보고서':
    당기 = '당기 3분기말' 
  elif df['보고서종류'][0] == '사업보고서':
    당기 = '당기' 

  df['사업연도'] = path[57:61] # 사업연도 컬럼 설정 - 파일명에서 가져온다
  df['항목명'] = df['항목명'].str.strip() # 항목명 컬럼 문자열 전처리
  df['항목코드'] = df['항목코드'].str.strip() # 항목코드 컬럼 문자열 전처리

  df = df[['종목코드','사업연도', '보고서종류', '회사명', '업종', '항목코드','항목명', 당기]]

  전체종목 = len(df['종목코드'].unique())

  # 자산총계(ifrs_Assets)
  자산총계 = df[(df['항목코드'] == 'ifrs_Assets') | (df['항목코드'] == 'ifrs-full_Assets') | (df['항목명'].isin(['자산 총계', '자산총계']))]
  자산총계.rename(columns={당기:"당기"}, inplace=True)
  자산총계.drop_duplicates(['종목코드','사업연도','보고서종류','항목명'])
  재무상태샘플 = 재무상태샘플.append(자산총계, sort=False, ignore_index=True)

  # 자본총계(ifrs_Equity)
  자본총계 = df[(df['항목코드'] == 'ifrs_Equity') | (df['항목코드'] == 'ifrs-full_Equity') | (df['항목명'].isin(['자본총계','자본 총계']))]
  자본총계.rename(columns={당기:"당기"}, inplace=True)
  자본총계.drop_duplicates(['종목코드','사업연도','보고서종류','항목명'])
  재무상태샘플 = 재무상태샘플.append(자본총계, sort=False, ignore_index=True)

  # 비지배지분(ifrs_NoncontrollingInterests)
  비지배지분 = df[(df['항목코드'] == 'ifrs-full_NoncontrollingInterests')|(df['항목코드'] == 'ifrs_NoncontrollingInterests')|(df['항목명'].str.contains('비지배'))]
  비지배지분.rename(columns={당기:"당기"}, inplace=True)
  비지배지분.drop_duplicates(['종목코드','사업연도','보고서종류','항목명'])
  재무상태샘플 = 재무상태샘플.append(비지배지분, sort=False, ignore_index=True)

  # 부채총계(ifrs_Liabilities)
  부채총계 = df[(df['항목코드'] == 'ifrs_Liabilities') | (df['항목코드'] == 'ifrs-full_Liabilities') | (df['항목명'].isin(['부채총계','부채 총계']))]
  부채총계.rename(columns={당기:"당기"}, inplace=True)
  부채총계.drop_duplicates(['종목코드','사업연도','보고서종류','항목명'])
  재무상태샘플 = 재무상태샘플.append(부채총계, sort=False, ignore_index=True)

  # 유동자산(ifrs_CurrentAssets)
  유동자산 = df[(df['항목코드'] == 'ifrs_CurrentAssets') | (df['항목코드'] == 'ifrs-full_CurrentAssets') | (df['항목명'].isin(['유동자산', '유동 자산']))]
  유동자산.rename(columns={당기:"당기"}, inplace=True)
  유동자산.drop_duplicates(['종목코드','사업연도','보고서종류','항목명'])
  재무상태샘플 = 재무상태샘플.append(유동자산, sort=False, ignore_index=True)

  # 현금 및 현금성자산(ifrs_CashAndCashEquivalents)
  현금성자산 = df[(df['항목코드'] == 'ifrs_CashAndCashEquivalents') | (df['항목코드'] == 'ifrs-full_CashAndCashEquivalents')|df['항목명'].isin(['현금', '현금성자산', '현금 및 현금성자산', '현금및현금성자산'])|df['항목명'].str.contains('현금및현금성자산|현금 및 현금성자산')]
  현금성자산.rename(columns={당기:"당기"}, inplace=True)
  현금성자산.drop_duplicates(['종목코드','사업연도','보고서종류','항목명'])
  재무상태샘플 = 재무상태샘플.append(현금성자산, sort=False, ignore_index=True)

  0%|          | 0/2 [00:00<?, ?it/s]/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
100%|██████████| 2/2 [00:02<00:00,  1.47s/it]

In [13]:
재무상태샘플

,종목코드,사업연도,보고서종류,회사명,업종,항목코드,항목명,당기
0,[060310],2021,사업보고서,3S,292,ifrs-full_Assets,자산총계,"54,614,752,349"
1,[095570],2021,사업보고서,AJ네트웍스,763,ifrs-full_Assets,자산총계,"1,355,044,449,955"
2,[006840],2021,사업보고서,AK홀딩스,649,ifrs-full_Assets,자산총계,"4,548,736,656,905"
3,[054620],2021,사업보고서,APS홀딩스,649,ifrs-full_Assets,자산총계,"337,092,577,346"
4,[265520],2021,사업보고서,AP시스템,292,ifrs-full_Assets,자산총계,"428,720,088,928"
...,...,...,...,...,...,...,...,...
21567,[010240],2022,1분기보고서,흥국,292,ifrs-full_CashAndCashEquivalents,현금및현금성자산,"16,028,579,778"
21568,[189980],2022,1분기보고서,흥국에프엔비,112,ifrs-full_CashAndCashEquivalents,현금및현금성자산,"17,648,654,115"
21569,[003280],2022,1분기보고서,흥아해운,501,ifrs-full_CashAndCashEquivalents,현금및현금성자산,"48,758,422,117"
21570,[037440],2022,1분기보고서,희림,721,ifrs-full_CashAndCashEquivalents,현금및현금성자산,"26,045,207,278"
21571,[238490],2022,1분기보고서,힘스,292,ifrs-full_CashAndCashEquivalents,현금및현금성자산,"9,036,463,600"

# 데이터 전처리

## 현금흐름표

In [14]:
현금흐름샘플['종목코드'] = 현금흐름샘플['종목코드'].apply(lambda x:x[1:-1])
현금흐름샘플['항목명'] = 현금흐름샘플.apply(lambda x: '영업활동현금흐름' if x['항목코드'] == 'ifrs_CashFlowsFromUsedInOperatingActivities' else x['항목명'], axis=1)
현금흐름샘플['항목명'] = 현금흐름샘플.apply(lambda x: '영업활동현금흐름' if x['항목코드'] == 'ifrs-full_CashFlowsFromUsedInOperatingActivities' else x['항목명'], axis=1)
현금흐름샘플['항목명'] = 현금흐름샘플.apply(lambda x: '투자활동현금흐름' if x['항목코드'] == 'ifrs_CashFlowsFromUsedInInvestingActivities' else x['항목명'], axis=1)
현금흐름샘플['항목명'] = 현금흐름샘플.apply(lambda x: '투자활동현금흐름' if x['항목코드'] == 'ifrs-full_CashFlowsFromUsedInInvestingActivities' else x['항목명'], axis=1)
현금흐름샘플['항목명'] = 현금흐름샘플.apply(lambda x: '재무활동현금흐름' if x['항목코드'] == 'ifrs_CashFlowsFromUsedInFinancingActivities' else x['항목명'], axis=1)
현금흐름샘플['항목명'] = 현금흐름샘플.apply(lambda x: '재무활동현금흐름' if x['항목코드'] == 'ifrs-full_CashFlowsFromUsedInFinancingActivities' else x['항목명'], axis=1)

현금흐름샘플

,종목코드,사업연도,보고서종류,회사명,업종,항목코드,항목명,당기
0,060310,2021,사업보고서,3S,292,ifrs-full_CashFlowsFromUsedInOperatingActivities,영업활동현금흐름,"871,088,551"
1,060310,2021,사업보고서,3S,292,dart_AdjustmentsForAssetsLiabilitiesOfOperatin...,영업활동으로 인한 자산부채의 변동,"574,640,381"
2,095570,2021,사업보고서,AJ네트웍스,763,ifrs-full_CashFlowsFromUsedInOperatingActivities,영업활동현금흐름,"-11,318,072,318"
3,006840,2021,사업보고서,AK홀딩스,649,ifrs-full_CashFlowsFromUsedInOperatingActivities,영업활동현금흐름,"-9,766,237,791"
4,054620,2021,사업보고서,APS홀딩스,649,ifrs-full_CashFlowsFromUsedInOperatingActivities,영업활동현금흐름,"-1,568,988,010"
...,...,...,...,...,...,...,...,...
14863,003280,2022,1분기보고서,흥아해운,501,ifrs-full_CashFlowsFromUsedInFinancingActivities,재무활동현금흐름,"-3,544,038,131"
14864,037440,2022,1분기보고서,희림,721,ifrs-full_CashFlowsFromUsedInFinancingActivities,재무활동현금흐름,"-2,162,502,506"
14865,238490,2022,1분기보고서,힘스,292,ifrs-full_CashFlowsFromUsedInFinancingActivities,재무활동현금흐름,"-254,631,420"
14866,238490,2022,1분기보고서,힘스,292,entity00556712_udf_CF_20201022103737527_CashFl...,재무활동으로 인한 현금 유입액,"2,001,000,000"
14867,238490,2022,1분기보고서,힘스,292,entity00556712_udf_CF_20201022103852383_CashFl...,재무활동으로 인한 현금 유출액,"-2,255,631,420"

In [15]:
mask = 현금흐름샘플['항목명'].str.contains('자산|부채|기타|유출|유입|중단|연결|지급|수취|손실|제거|전|관련|조정|계속')
현금흐름샘플 = 현금흐름샘플[~mask]

In [16]:
현금흐름샘플['항목명'] = 현금흐름샘플.apply(lambda x: '영업활동현금흐름' if 'CashFlowsFromUsedInOperatingActivities' in x['항목코드'] else x['항목명'], axis=1)
현금흐름샘플['항목명'] = 현금흐름샘플.apply(lambda x: '투자활동현금흐름' if 'CashFlowsFromUsedInInvestingActivities' in x['항목코드'] else x['항목명'], axis=1)
현금흐름샘플['항목명'] = 현금흐름샘플.apply(lambda x: '재무활동현금흐름' if 'CashFlowsFromUsedInFinancingActivities' in x['항목코드'] else x['항목명'], axis=1)

현금흐름샘플['항목코드'] = 현금흐름샘플.apply(lambda x: 'ifrs_CashFlowsFromUsedInOperatingActivities' if 'CashFlowsFromUsedInOperatingActivities' in x['항목코드'] else x['항목코드'], axis=1)
현금흐름샘플['항목코드'] = 현금흐름샘플.apply(lambda x: 'ifrs_CashFlowsFromUsedInInvestingActivities' if 'CashFlowsFromUsedInInvestingActivities' in x['항목코드'] else x['항목코드'], axis=1)
현금흐름샘플['항목코드'] = 현금흐름샘플.apply(lambda x: 'ifrs_CashFlowsFromUsedInFinancingActivities' if 'CashFlowsFromUsedInFinancingActivities' in x['항목코드'] else x['항목코드'], axis=1)

현금흐름샘플

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

,종목코드,사업연도,보고서종류,회사명,업종,항목코드,항목명,당기
0,060310,2021,사업보고서,3S,292,ifrs_CashFlowsFromUsedInOperatingActivities,영업활동현금흐름,"871,088,551"
2,095570,2021,사업보고서,AJ네트웍스,763,ifrs_CashFlowsFromUsedInOperatingActivities,영업활동현금흐름,"-11,318,072,318"
3,006840,2021,사업보고서,AK홀딩스,649,ifrs_CashFlowsFromUsedInOperatingActivities,영업활동현금흐름,"-9,766,237,791"
4,054620,2021,사업보고서,APS홀딩스,649,ifrs_CashFlowsFromUsedInOperatingActivities,영업활동현금흐름,"-1,568,988,010"
5,265520,2021,사업보고서,AP시스템,292,ifrs_CashFlowsFromUsedInOperatingActivities,영업활동현금흐름,"63,249,106,032"
...,...,...,...,...,...,...,...,...
14861,010240,2022,1분기보고서,흥국,292,ifrs_CashFlowsFromUsedInFinancingActivities,재무활동현금흐름,"-2,309,643,228"
14862,189980,2022,1분기보고서,흥국에프엔비,112,ifrs_CashFlowsFromUsedInFinancingActivities,재무활동현금흐름,"-75,964,141"
14863,003280,2022,1분기보고서,흥아해운,501,ifrs_CashFlowsFromUsedInFinancingActivities,재무활동현금흐름,"-3,544,038,131"
14864,037440,2022,1분기보고서,희림,721,ifrs_CashFlowsFromUsedInFinancingActivities,재무활동현금흐름,"-2,162,502,506"
14865,238490,2022,1분기보고서,힘스,292,ifrs_CashFlowsFromUsedInFinancingActivities,재무활동현금흐름,"-254,631,420"

In [17]:
현금흐름샘플['항목명'] = 현금흐름샘플.apply(lambda x: '영업활동현금흐름' if '영업활동' in x['항목명'] else x['항목명'], axis=1)
현금흐름샘플['항목명'] = 현금흐름샘플.apply(lambda x: '투자활동현금흐름' if '투자활동' in x['항목명'] else x['항목명'], axis=1)
현금흐름샘플['항목명'] = 현금흐름샘플.apply(lambda x: '재무활동현금흐름' if '재무활동' in x['항목명'] else x['항목명'], axis=1)

현금흐름샘플['항목코드'] = 현금흐름샘플.apply(lambda x: 'ifrs_CashFlowsFromUsedInOperatingActivities' if x['항목명'] == '영업활동현금흐름' else x['항목코드'], axis=1)
현금흐름샘플['항목코드'] = 현금흐름샘플.apply(lambda x: 'ifrs_CashFlowsFromUsedInInvestingActivities' if x['항목명'] == '투자활동현금흐름' else x['항목코드'], axis=1)
현금흐름샘플['항목코드'] = 현금흐름샘플.apply(lambda x: 'ifrs_CashFlowsFromUsedInFinancingActivities' if x['항목명'] == '재무활동현금흐름' else x['항목코드'], axis=1)

현금흐름샘플

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

,종목코드,사업연도,보고서종류,회사명,업종,항목코드,항목명,당기
0,060310,2021,사업보고서,3S,292,ifrs_CashFlowsFromUsedInOperatingActivities,영업활동현금흐름,"871,088,551"
2,095570,2021,사업보고서,AJ네트웍스,763,ifrs_CashFlowsFromUsedInOperatingActivities,영업활동현금흐름,"-11,318,072,318"
3,006840,2021,사업보고서,AK홀딩스,649,ifrs_CashFlowsFromUsedInOperatingActivities,영업활동현금흐름,"-9,766,237,791"
4,054620,2021,사업보고서,APS홀딩스,649,ifrs_CashFlowsFromUsedInOperatingActivities,영업활동현금흐름,"-1,568,988,010"
5,265520,2021,사업보고서,AP시스템,292,ifrs_CashFlowsFromUsedInOperatingActivities,영업활동현금흐름,"63,249,106,032"
...,...,...,...,...,...,...,...,...
14861,010240,2022,1분기보고서,흥국,292,ifrs_CashFlowsFromUsedInFinancingActivities,재무활동현금흐름,"-2,309,643,228"
14862,189980,2022,1분기보고서,흥국에프엔비,112,ifrs_CashFlowsFromUsedInFinancingActivities,재무활동현금흐름,"-75,964,141"
14863,003280,2022,1분기보고서,흥아해운,501,ifrs_CashFlowsFromUsedInFinancingActivities,재무활동현금흐름,"-3,544,038,131"
14864,037440,2022,1분기보고서,희림,721,ifrs_CashFlowsFromUsedInFinancingActivities,재무활동현금흐름,"-2,162,502,506"
14865,238490,2022,1분기보고서,힘스,292,ifrs_CashFlowsFromUsedInFinancingActivities,재무활동현금흐름,"-254,631,420"

In [18]:
현금흐름샘플 = 현금흐름샘플.drop_duplicates()

In [19]:
현금흐름샘플['항목명'].unique()

array(['영업활동현금흐름', '투자활동현금흐름', '재무활동현금흐름'], dtype=object)

In [20]:
현금흐름샘플['항목코드'].unique()

array(['ifrs_CashFlowsFromUsedInOperatingActivities',
       'ifrs_CashFlowsFromUsedInInvestingActivities',
       'ifrs_CashFlowsFromUsedInFinancingActivities'], dtype=object)

In [21]:
현금흐름일괄 = 현금흐름샘플.drop_duplicates()
현금흐름일괄

,종목코드,사업연도,보고서종류,회사명,업종,항목코드,항목명,당기
0,060310,2021,사업보고서,3S,292,ifrs_CashFlowsFromUsedInOperatingActivities,영업활동현금흐름,"871,088,551"
2,095570,2021,사업보고서,AJ네트웍스,763,ifrs_CashFlowsFromUsedInOperatingActivities,영업활동현금흐름,"-11,318,072,318"
3,006840,2021,사업보고서,AK홀딩스,649,ifrs_CashFlowsFromUsedInOperatingActivities,영업활동현금흐름,"-9,766,237,791"
4,054620,2021,사업보고서,APS홀딩스,649,ifrs_CashFlowsFromUsedInOperatingActivities,영업활동현금흐름,"-1,568,988,010"
5,265520,2021,사업보고서,AP시스템,292,ifrs_CashFlowsFromUsedInOperatingActivities,영업활동현금흐름,"63,249,106,032"
...,...,...,...,...,...,...,...,...
14861,010240,2022,1분기보고서,흥국,292,ifrs_CashFlowsFromUsedInFinancingActivities,재무활동현금흐름,"-2,309,643,228"
14862,189980,2022,1분기보고서,흥국에프엔비,112,ifrs_CashFlowsFromUsedInFinancingActivities,재무활동현금흐름,"-75,964,141"
14863,003280,2022,1분기보고서,흥아해운,501,ifrs_CashFlowsFromUsedInFinancingActivities,재무활동현금흐름,"-3,544,038,131"
14864,037440,2022,1분기보고서,희림,721,ifrs_CashFlowsFromUsedInFinancingActivities,재무활동현금흐름,"-2,162,502,506"
14865,238490,2022,1분기보고서,힘스,292,ifrs_CashFlowsFromUsedInFinancingActivities,재무활동현금흐름,"-254,631,420"

## 손익계산서

In [22]:
손익계산샘플['종목코드'] = 손익계산샘플['종목코드'].apply(lambda x:x[1:-1]) 
mask = (손익계산샘플['항목명'].str.contains('포괄|계속|중단'))|(손익계산샘플['항목코드'].str.contains('continu|Continu'))
손익계산샘플 = 손익계산샘플[~mask]

손익계산샘플['항목명'] = 손익계산샘플.apply(lambda x: '매출액' if x['항목코드'] == 'ifrs_Revenue' else x['항목명'], axis=1)
손익계산샘플['항목명'] = 손익계산샘플.apply(lambda x: '매출액' if x['항목코드'] == 'ifrs-full_Revenue' else x['항목명'], axis=1)
손익계산샘플['항목명'] = 손익계산샘플.apply(lambda x: '매출총이익' if x['항목코드'] == 'ifrs_GrossProfit' else x['항목명'], axis=1)
손익계산샘플['항목명'] = 손익계산샘플.apply(lambda x: '매출총이익' if x['항목코드'] == 'ifrs-full_GrossProfit' else x['항목명'], axis=1)
손익계산샘플['항목명'] = 손익계산샘플.apply(lambda x: '영업이익' if x['항목코드'] == 'dart_OperatingIncomeLoss' else x['항목명'], axis=1)
손익계산샘플['항목명'] = 손익계산샘플.apply(lambda x: '당기순이익' if x['항목코드'] == 'ifrs_ProfitLoss' else x['항목명'], axis=1)
손익계산샘플['항목명'] = 손익계산샘플.apply(lambda x: '당기순이익' if x['항목코드'] == 'ifrs-full_ProfitLoss' else x['항목명'], axis=1)

손익계산샘플['항목명'] = 손익계산샘플.apply(lambda x: '당기순이익(비지배)' if 'ProfitLossAttributableToNoncontrollingInterests' in x['항목코드'] else x['항목명'], axis=1)

손익계산샘플['항목명'] = 손익계산샘플.apply(lambda x: '감가상각비' if x['항목코드'] == 'dart_DepreciationExpense' else x['항목명'], axis=1)
손익계산샘플['항목명'] = 손익계산샘플.apply(lambda x: '법인세비용차감전순이익' if x['항목코드'] == 'ifrs_ProfitLossBeforeTax' else x['항목명'], axis=1)
손익계산샘플['항목명'] = 손익계산샘플.apply(lambda x: '법인세비용차감전순이익' if x['항목코드'] == 'ifrs-full_ProfitLossBeforeTax' else x['항목명'], axis=1)
손익계산샘플['항목명'] = 손익계산샘플.apply(lambda x: '매출액' if x['항목명'] == '수익(매출액)' else x['항목명'], axis=1)
손익계산샘플['항목명'] = 손익계산샘플.apply(lambda x: '매출총이익' if x['항목명'] == '매출총이익(손실)' else x['항목명'], axis=1)
손익계산샘플['항목명'] = 손익계산샘플.apply(lambda x: '영업이익' if x['항목명'] == '영업이익(손실)' else x['항목명'], axis=1)
손익계산샘플['항목명'] = 손익계산샘플.apply(lambda x: '당기순이익' if x['항목명'] == '당기순이익(손실)' else x['항목명'], axis=1)
손익계산샘플['항목명'] = 손익계산샘플.apply(lambda x: '법인세차감전순이익' if x['항목명'] == '법인세차감전순이익(손실)' else x['항목명'], axis=1)
손익계산샘플['항목명'] = 손익계산샘플.apply(lambda x: '법인세차감전순이익' if x['항목명'] == '법인세비용차감전순이익' else x['항목명'], axis=1)


손익계산샘플['항목코드'] = 손익계산샘플.apply(lambda x: 'ifrs_Revenue' if x['항목명'] == '매출액' else x['항목코드'], axis=1)
손익계산샘플['항목코드'] = 손익계산샘플.apply(lambda x: 'ifrs_GrossProfit' if x['항목명'] == '매출총이익' else x['항목코드'], axis=1)
손익계산샘플['항목코드'] = 손익계산샘플.apply(lambda x: 'dart_OperatingIncomeLoss' if x['항목명'] == '영업이익' else x['항목코드'], axis=1)
손익계산샘플['항목코드'] = 손익계산샘플.apply(lambda x: 'ifrs_ProfitLoss' if x['항목명'] == '당기순이익' else x['항목코드'], axis=1)
손익계산샘플['항목코드'] = 손익계산샘플.apply(lambda x: 'ifrs_ProfitLossAttributableToNoncontrollingInterests' if '비지배' in x['항목명'] else x['항목코드'], axis=1)
손익계산샘플['항목코드'] = 손익계산샘플.apply(lambda x: 'dart_DepreciationExpense' if x['항목명'] == '감가상각비' else x['항목코드'], axis=1)
손익계산샘플['항목코드'] = 손익계산샘플.apply(lambda x: 'ifrs_ProfitLossBeforeTax' if x['항목명'] == '법인세차감전순이익' else x['항목코드'], axis=1)

손익계산샘플['항목명'] = 손익계산샘플.apply(lambda x: '당기순이익(비지배)' if 'ProfitLossAttributableToNoncontrollingInterests' in x['항목코드'] else x['항목명'], axis=1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [23]:
손익계산샘플 = 손익계산샘플.drop_duplicates()

In [24]:
손익계산샘플['항목명'].unique()

array(['매출액', '매출총이익', '영업이익', '당기순이익', '당기순이익(비지배)', '감가상각비',
       '법인세차감전순이익'], dtype=object)

In [25]:
손익계산샘플['항목코드'].unique()

array(['ifrs_Revenue', 'ifrs_GrossProfit', 'dart_OperatingIncomeLoss',
       'ifrs_ProfitLoss',
       'ifrs_ProfitLossAttributableToNoncontrollingInterests',
       'dart_DepreciationExpense', 'ifrs_ProfitLossBeforeTax'],
      dtype=object)

In [26]:
손익계산샘플[손익계산샘플['항목명'] == '당기순이익(비지배)']

,종목코드,사업연도,보고서종류,회사명,업종,항목코드,항목명,당기
644,001040,2021,사업보고서,CJ,649,ifrs_ProfitLossAttributableToNoncontrollingInt...,당기순이익(비지배),"531,987,271,000"
645,000120,2021,사업보고서,CJ대한통운,493,ifrs_ProfitLossAttributableToNoncontrollingInt...,당기순이익(비지배),"103,537,367,210"
646,000990,2021,사업보고서,DB하이텍,261,ifrs_ProfitLossAttributableToNoncontrollingInt...,당기순이익(비지배),0
647,000210,2021,사업보고서,DL,649,ifrs_ProfitLossAttributableToNoncontrollingInt...,당기순이익(비지배),"9,624,006,922"
648,375500,2021,사업보고서,DL이앤씨,412,ifrs_ProfitLossAttributableToNoncontrollingInt...,당기순이익(비지배),"58,791,770,098"
...,...,...,...,...,...,...,...,...
1761,008770,2022,1분기보고서,호텔신라,478,ifrs_ProfitLossAttributableToNoncontrollingInt...,당기순이익(비지배),"-718,844"
1762,004800,2022,1분기보고서,효성,649,ifrs_ProfitLossAttributableToNoncontrollingInt...,당기순이익(비지배),"6,375,168,161"
1763,298050,2022,1분기보고서,효성첨단소재,205,ifrs_ProfitLossAttributableToNoncontrollingInt...,당기순이익(비지배),"14,719,015,070"
1764,298020,2022,1분기보고서,효성티앤씨,205,ifrs_ProfitLossAttributableToNoncontrollingInt...,당기순이익(비지배),"36,723,820,139"
1765,298000,2022,1분기보고서,효성화학,201,ifrs_ProfitLossAttributableToNoncontrollingInt...,당기순이익(비지배),NaN

## 포괄손익계산서

In [27]:
포괄손익계산샘플['종목코드'] = 포괄손익계산샘플['종목코드'].apply(lambda x:x[1:-1]) 
mask = (포괄손익계산샘플['항목명'].str.contains('포괄|계속|중단|해외'))|(포괄손익계산샘플['항목코드'].str.contains('Operations|ComprehensiveIncome'))
포괄손익계산샘플 = 포괄손익계산샘플[~mask]

포괄손익계산샘플['항목명'] = 포괄손익계산샘플.apply(lambda x: '매출액' if x['항목코드'] == 'ifrs_Revenue' else x['항목명'], axis=1)
포괄손익계산샘플['항목명'] = 포괄손익계산샘플.apply(lambda x: '매출액' if x['항목코드'] == 'ifrs-full_Revenue' else x['항목명'], axis=1)
포괄손익계산샘플['항목명'] = 포괄손익계산샘플.apply(lambda x: '매출총이익' if x['항목코드'] == 'ifrs_GrossProfit' else x['항목명'], axis=1)
포괄손익계산샘플['항목명'] = 포괄손익계산샘플.apply(lambda x: '매출총이익' if x['항목코드'] == 'ifrs-full_GrossProfit' else x['항목명'], axis=1)
포괄손익계산샘플['항목명'] = 포괄손익계산샘플.apply(lambda x: '영업이익' if x['항목코드'] == 'dart_OperatingIncomeLoss' else x['항목명'], axis=1)
포괄손익계산샘플['항목명'] = 포괄손익계산샘플.apply(lambda x: '당기순이익' if x['항목코드'] == 'ifrs_ProfitLoss' else x['항목명'], axis=1)
포괄손익계산샘플['항목명'] = 포괄손익계산샘플.apply(lambda x: '당기순이익' if x['항목코드'] == 'ifrs-full_ProfitLoss' else x['항목명'], axis=1)

포괄손익계산샘플['항목명'] = 포괄손익계산샘플.apply(lambda x: '당기순이익(비지배)' if 'ProfitLossAttributableToNoncontrollingInterests' in x['항목코드'] else x['항목명'], axis=1)

포괄손익계산샘플['항목명'] = 포괄손익계산샘플.apply(lambda x: '감가상각비' if x['항목코드'] == 'dart_DepreciationExpense' else x['항목명'], axis=1)
포괄손익계산샘플['항목명'] = 포괄손익계산샘플.apply(lambda x: '법인세비용차감전순이익' if x['항목코드'] == 'ifrs_ProfitLossBeforeTax' else x['항목명'], axis=1)
포괄손익계산샘플['항목명'] = 포괄손익계산샘플.apply(lambda x: '법인세비용차감전순이익' if x['항목코드'] == 'ifrs-full_ProfitLossBeforeTax' else x['항목명'], axis=1)
포괄손익계산샘플['항목명'] = 포괄손익계산샘플.apply(lambda x: '매출액' if x['항목명'] == '수익(매출액)' else x['항목명'], axis=1)
포괄손익계산샘플['항목명'] = 포괄손익계산샘플.apply(lambda x: '매출총이익' if x['항목명'] == '매출총이익(손실)' else x['항목명'], axis=1)
포괄손익계산샘플['항목명'] = 포괄손익계산샘플.apply(lambda x: '영업이익' if x['항목명'] == '영업이익(손실)' else x['항목명'], axis=1)
포괄손익계산샘플['항목명'] = 포괄손익계산샘플.apply(lambda x: '당기순이익' if x['항목명'] == '당기순이익(손실)' else x['항목명'], axis=1)
포괄손익계산샘플['항목명'] = 포괄손익계산샘플.apply(lambda x: '법인세차감전순이익' if x['항목명'] == '법인세차감전순이익(손실)' else x['항목명'], axis=1)
포괄손익계산샘플['항목명'] = 포괄손익계산샘플.apply(lambda x: '법인세차감전순이익' if x['항목명'] == '법인세비용차감전순이익' else x['항목명'], axis=1)

포괄손익계산샘플

,종목코드,사업연도,보고서종류,회사명,업종,항목코드,항목명,당기
0,6031,2021,사업보고서,3S,292,ifrs-full_Revenue,매출액,"23,477,908,383"
1,9557,2021,사업보고서,AJ네트웍스,763,ifrs-full_Revenue,매출액,"1,026,749,457,003"
2,0684,2021,사업보고서,AK홀딩스,649,ifrs-full_Revenue,매출액,"3,167,699,652,090"
3,5462,2021,사업보고서,APS홀딩스,649,ifrs-full_Revenue,매출액,"39,415,521,257"
4,6552,2021,사업보고서,AP시스템,292,ifrs-full_Revenue,매출액,"528,740,970,343"
...,...,...,...,...,...,...,...,...
22625,1024,2022,1분기보고서,흥국,292,ifrs-full_ProfitLossBeforeTax,법인세차감전순이익,"3,353,383,900"
22626,8998,2022,1분기보고서,흥국에프엔비,112,ifrs-full_ProfitLossBeforeTax,법인세차감전순이익,"1,236,152,104"
22627,0328,2022,1분기보고서,흥아해운,501,ifrs-full_ProfitLossBeforeTax,법인세차감전순이익,"-371,037,287"
22628,3744,2022,1분기보고서,희림,721,ifrs-full_ProfitLossBeforeTax,법인세차감전순이익,"1,745,202,772"
22629,3849,2022,1분기보고서,힘스,292,ifrs-full_ProfitLossBeforeTax,법인세차감전순이익,"-1,583,135,799"

In [28]:
포괄손익계산샘플 = 포괄손익계산샘플.drop_duplicates()
포괄손익계산샘플

,종목코드,사업연도,보고서종류,회사명,업종,항목코드,항목명,당기
0,6031,2021,사업보고서,3S,292,ifrs-full_Revenue,매출액,"23,477,908,383"
1,9557,2021,사업보고서,AJ네트웍스,763,ifrs-full_Revenue,매출액,"1,026,749,457,003"
2,0684,2021,사업보고서,AK홀딩스,649,ifrs-full_Revenue,매출액,"3,167,699,652,090"
3,5462,2021,사업보고서,APS홀딩스,649,ifrs-full_Revenue,매출액,"39,415,521,257"
4,6552,2021,사업보고서,AP시스템,292,ifrs-full_Revenue,매출액,"528,740,970,343"
...,...,...,...,...,...,...,...,...
22625,1024,2022,1분기보고서,흥국,292,ifrs-full_ProfitLossBeforeTax,법인세차감전순이익,"3,353,383,900"
22626,8998,2022,1분기보고서,흥국에프엔비,112,ifrs-full_ProfitLossBeforeTax,법인세차감전순이익,"1,236,152,104"
22627,0328,2022,1분기보고서,흥아해운,501,ifrs-full_ProfitLossBeforeTax,법인세차감전순이익,"-371,037,287"
22628,3744,2022,1분기보고서,희림,721,ifrs-full_ProfitLossBeforeTax,법인세차감전순이익,"1,745,202,772"
22629,3849,2022,1분기보고서,힘스,292,ifrs-full_ProfitLossBeforeTax,법인세차감전순이익,"-1,583,135,799"

In [29]:
len(포괄손익계산샘플['종목코드'].unique())

1737

In [30]:
포괄손익계산샘플['항목코드'].unique()

array(['ifrs-full_Revenue', 'ifrs-full_GrossProfit',
       'dart_OperatingIncomeLoss', 'ifrs-full_ProfitLoss',
       'entity00938688_udf_IS_201711118314804_ProfitLossAttributableToAbstract',
       'ifrs-full_ProfitLossAttributableToAbstract',
       'entity00116824_udf_IS_2018320145953568_ProfitLossAttributableToAbstract',
       'entity00110750_udf_IS_2020119154120713_ProfitLossAttributableToAbstract',
       'ifrs-full_ProfitLossAttributableToNoncontrollingInterests',
       'entity00125080_udf_IS_20171110125339361_ProfitLoss',
       'entity00635134_udf_IS_2017119154220800_ProfitLoss',
       'entity00127954_udf_IS_202182172721451_ProfitLoss',
       'entity00303703_udf_IS_202031211434525_ProfitLoss',
       'entity00303703_udf_IS_2020312111337218_ProfitLossAttributableToAbstract',
       'entity00163345_udf_IS_20208716367264_ProfitLoss',
       'entity00479705_udf_IS_201932515925524_ProfitLoss',
       'entity01437186_udf_IS_202229191437133_ProfitLoss',
       'entity00140177_udf_IS_202134123330867_ProfitLoss',
       'entity00230911_udf_IS_2018811356651_udf_IS_20188113557563_ProfitLoss',
       'entity01041828_udf_IS_202061610218814_ProfitLoss',
       'entity00222532_udf_IS_201843011233937_ProfitLoss',
       'entity00260745_udf_IS_2018810191241846_ProfitLossAttributableToAbstract',
       'entity00181712_udf_IS_20171113112013336_ProfitLoss',
       'entity01386916_udf_IS_202181121278162_ProfitLoss',
       'entity00117230_udf_IS_2019513132545986_ProfitLoss',
       'entity00200275_udf_IS_2017116181550572_ProfitLoss',
       'entity00102858_udf_IS_20171110163437634_ProfitLoss',
       'entity00103635_udf_IS_201932917202731_ProfitLoss',
       'entity00105606_udf_IS_2020811212833542_ProfitLoss',
       'entity00994994_udf_IS_202131610120457_ProfitLossAttributableToNoncontrollingInterests',
       'entity00923792_udf_IS_20208713442472_ProfitLoss',
       'entity00551920_udf_IS_20171026114019491_ProfitLoss',
       'entity01067808_udf_IS_2020325171718750_ProfitLoss',
       'entity00904672_udf_IS_2017118172149622_ProfitLoss',
       'entity00410997_udf_IS_2017101911856740_ProfitLoss',
       'entity00521390_udf_IS_20171110161452151_ProfitLoss',
       'entity00787376_udf_IS_201932717117462_ProfitLoss',
       'entity01182578_udf_IS_201951391314897_ProfitLoss',
       'entity00177870_udf_IS_2020812172622596_ProfitLoss',
       'entity00112970_udf_IS_202032018194488_udf_IS_2020320181923506_ProfitLoss',
       'entity00112970_udf_IS_2020320181959129_udf_IS_2020320181931696_ProfitLoss',
       'entity01021949_udf_IS_2018813121959871_ProfitLoss',
       'entity00118284_udf_IS_2018326133727746_ProfitLoss',
       'entity00415646_udf_IS_20201112103958884_ProfitLoss',
       'entity01475609_udf_IS_202112994224848_ProfitLoss',
       'entity00660121_udf_IS_202151214362868_ProfitLoss',
       'entity00995993_udf_IS_2021513191543936_ProfitLoss',
       'entity00602136_udf_IS_2022316164139222_ProfitLossAttributableToAbstract',
       'entity00576789_udf_IS_201932717620443_ProfitLoss',
       'entity00398808_udf_IS_2017112795917984_ProfitLoss',
       'entity00892526_udf_IS_2022316192924979_ProfitLoss',
       'entity00536523_udf_IS_201959145051480_ProfitLoss',
       'entity01258507_udf_IS_201711612157253_ProfitLoss',
       'entity00120571_udf_IS_20171020154956481_ProfitLoss',
       'entity00165413_udf_IS_202032517515606_ProfitLossAttributableToAbstract',
       'entity00121039_udf_IS_202032617221237_ProfitLoss',
       'entity00876908_udf_IS_20203921223172_ProfitLoss',
       'entity01049167_udf_IS_2022321153244931_ProfitLoss',
       'entity01046708_udf_IS_202032314140140_ProfitLoss',
       'entity01391103_udf_IS_2022311101510129_ProfitLoss',
       'entity01227039_udf_IS_202022114433788_ProfitLoss',
       'entity00103644_udf_IS_20203231834430_ProfitLoss',
       'entity00857480_udf_IS_202186131155501_ProfitLoss',
       'entity00129280_udf_IS_2019330181319945_ProfitLoss',
       'entity00130684_udf_IS_2020326185159845_ProfitLoss',
       'entity00913689_udf_IS_201932716190945_ProfitLossAttributableToAbstract',
       'entity00134176_udf_IS_2022329214026242_ProfitLoss',
       'entity00264671_udf_IS_2019328133043623_ProfitLoss',
       'entity00415628_udf_IS_20223168504119_ProfitLoss',
       'entity00151863_udf_IS_2022315125912955_ProfitLoss',
       'entity01489648_udf_IS_20201120133433193_ProfitLoss',
       'entity00247975_udf_IS_202073194923693_ProfitLoss',
       'entity01050738_udf_IS_2021517175739603_ProfitLoss',
       'entity01290248_udf_IS_202232223429776_ProfitLoss',
       'entity00982023_udf_IS_2022317173732975_ProfitLoss',
       'entity00681142_udf_IS_20181112114442929_ProfitLoss',
       'entity00138242_udf_IS_2018112154924406_ProfitLoss',
       'entity00138446_udf_IS_202122311035954_ProfitLoss',
       'entity00161781_udf_IS_2019322133624242_ProfitLoss',
       'entity00138729_udf_IS_201886151521191_ProfitLoss',
       'entity00922304_udf_IS_202231714836621_ProfitLoss',
       'entity00154426_udf_IS_201841232720946_ProfitLoss',
       'entity01326279_udf_IS_2021513103654288_ProfitLoss',
       'entity00945457_udf_IS_2021815152213604_ProfitLoss',
       'entity00626011_udf_IS_202238163743606_ProfitLoss',
       'entity00363510_udf_IS_20213221161126_ProfitLoss',
       'entity00442561_udf_IS_2022316154519444_ProfitLoss',
       'entity00261443_udf_IS_20171110152749318_ProfitLoss',
       'entity00297989_udf_IS_201932818233540_ProfitLoss',
       'entity00141626_udf_IS_201981222145178_ProfitLoss',
       'entity00300405_udf_IS_20223916152985_ProfitLoss',
       'entity00494546_udf_IS_2021111220134270_ProfitLoss',
       'entity00359623_udf_IS_202032153418582_ProfitLossAttributableToAbstract',
       'entity00628189_udf_IS_202111416347256_ProfitLoss',
       'entity01326224_udf_IS_2021820185024542_ProfitLoss',
       'entity00216647_udf_IS_2021322145442718_ProfitLoss',
       'entity00260569_udf_IS_201872395252157_ProfitLoss',
       'entity00531865_udf_IS_2020249586674_ProfitLoss',
       'entity00173999_udf_IS_2017119203610515_ProfitLoss',
       'entity00400121_udf_IS_20191125185312781_ProfitLoss',
       'entity00145109_udf_IS_2017119152814298_ProfitLoss',
       'entity00364847_udf_IS_2022311101117563_ProfitLoss',
       'entity01258710_udf_IS_202032623852877_ProfitLoss',
       'entity01199189_udf_IS_202172294154799_ProfitLoss',
       'entity00619640_udf_IS_202231518210439_ProfitLoss',
       'entity00145598_udf_IS_2021317183259423_ProfitLoss',
       'entity00818472_udf_IS_2021222121929429_ProfitLoss',
       'entity00545929_udf_IS_202010291914496_ProfitLoss',
       'entity00148443_udf_IS_2018322151627469_ProfitLoss',
       'entity00291860_udf_IS_202231619105870_ProfitLoss',
       'entity00150633_udf_IS_202238124754913_ProfitLoss',
       'entity00258102_udf_IS_2018102211463289_ProfitLoss',
       'entity01031229_udf_IS_2017101911856740_ProfitLoss',
       'entity00153621_udf_IS_2020318151159807_ProfitLossAttributableToAbstract',
       'entity00260879_udf_IS_20181122141122678_ProfitLoss',
       'ifrs-full_ProfitLossAttributableToOwnersOfParent',
       'entity00329093_udf_IS_201881103434895_ProfitLoss',
       'entity00541437_udf_IS_2022322101247282_ProfitLoss',
       'entity00442455_udf_IS_202121911757353_ProfitLoss',
       'entity00989664_udf_IS_20184212210676_ProfitLoss',
       'entity00599595_udf_IS_2022322142637341_ProfitLoss',
       'entity00525882_udf_IS_2017111165121935_ProfitLoss',
       'entity00407814_udf_IS_20213221623980_ProfitLoss',
       'entity00366845_udf_IS_202172715502372_ProfitLoss',
       'entity01064069_udf_IS_20211111144040298_ProfitLossAttributableToAbstract',
       'entity00186939_udf_IS_2021322181018492_ProfitLossAttributableToAbstract',
       'entity00761059_udf_IS_20202279404873_ProfitLoss',
       'entity00939942_udf_IS_20191111103350_ProfitLoss',
       'entity00684714_udf_IS_201851513334571_ProfitLoss',
       'entity00155531_udf_IS_20222151715352_ProfitLoss',
       'entity00604028_udf_IS_2022322153233150_ProfitLoss',
       'entity01204056_udf_IS_2021111115118830_ProfitLoss',
       'entity00688358_udf_IS_2022318165243261_udf_IS_2022318164844252_ProfitLossAttributableToAbstract',
       'entity00688358_udf_IS_202231816532652_udf_IS_2022318165012692_ProfitLossAttributableToAbstract',
       'entity00158112_udf_IS_20221259584602_ProfitLoss',
       'entity00159254_udf_IS_20171189548776_ProfitLoss',
       'entity00161426_udf_IS_2021312101343757_ProfitLoss',
       'entity00161693_udf_IS_202231502249213_ProfitLoss',
       'entity00188089_udf_IS_2021428165742710_ProfitLossAttributableToAbstract',
       'entity00140946_udf_IS_2021810145353403_ProfitLossAttributableToAbstract',
       'entity00428321_udf_IS_20215108258649_ProfitLossAttributableToOwnersOfParent',
       'entity00428321_udf_IS_202151082533355_ProfitLossAttributableToNoncontrollingInterests',
       'entity00119140_udf_IS_2020512112929815_ProfitLoss',
       'entity00226316_udf_IS_2022321141619398_ProfitLoss',
       'entity01532603_udf_IS_202151414419884_ProfitLoss',
       'entity01316245_udf_IS_2018814113831213_ProfitLoss',
       'dart_DepreciationExpense',
       'entity00121932_udf_IS_2020326151158383_udf_IS_202032615114652_TotalSellingGeneralAdministrativeExpenses',
       'dart_CostOfSalesFromRenderingOfServicesRental',
       'ifrs-full_ProfitLossBeforeTax',
       'entity00631518_udf_IS_202251015623893_ProfitLoss',
       'entity00112970_udf_IS_20225410131138_ProfitLoss',
       'entity00121039_udf_IS_202058165458911_ProfitLoss',
       'entity00259590_udf_IS_202156191957313_ProfitLoss',
       'entity01047707_udf_IS_2022510164516723_ProfitLossAttributableToAbstract',
       'entity00378220_udf_IS_202251115436108_ProfitLoss',
       'entity00415628_udf_IS_202251082442957_ProfitLoss',
       'entity00363510_udf_IS_202151781625519_ProfitLoss',
       'entity00138446_udf_IS_202242910184899_ProfitLoss',
       'entity00922304_udf_IS_2022512134737827_ProfitLoss',
       'entity00180865_udf_IS_202251310244558_ProfitLoss',
       'entity01397903_udf_IS_202252691851739_ProfitLoss',
       'entity00390860_udf_IS_2022512155610997_ProfitLoss',
       'entity00150633_udf_IS_202252113154199_ProfitLoss',
       'entity00153621_udf_IS_202051313757610_ProfitLossAttributableToAbstract',
       'entity01428203_udf_IS_202252161012108_ProfitLoss',
       'entity00442455_udf_IS_2022511141948188_ProfitLoss',
       'entity00155531_udf_IS_20225121349473_ProfitLoss',
       'entity01053540_udf_IS_202242813449654_ProfitLossAttributableToAbstract',
       'entity00158112_udf_IS_202242993956578_ProfitLoss'], dtype=object)

In [31]:
포괄손익계산샘플['항목명'].unique()

array(['매출액', '매출총이익', '영업이익', '당기순이익', '당기순이익(비지배)', '비지배지분', '비지배주주지분',
       '비지배지분순이익(손실)', '비지배주주순이익', '비지배지분 당기순이익', '비지배지분에 귀속되는 당기순이익(손실)',
       '비지배지분귀속순손익', '비지배지분순이익', '비지배지분 귀속', '- 비지배지분',
       '비지배지분에 귀속되는 당기순이익', '비지배지분에 귀속될 당기순이익(손실)', '비지배지분 순이익(손실)',
       '비지배지분 귀속 순손익', '비지배주주 당기순이익', '2. 비지배지분', '비지배지분당기순이익(손실)',
       '비지배기업의 소유주에게 귀속되는 당기순이익', '비지배기준 귀속 당기순이익', '비지배지분 순이익',
       '비지배주주지분당기순이익', '비지배지분 당기순손익', '비지배지분순손익', '비지배지분 귀속 분기순이익',
       '비지배주주지분순손실', '비지배지분 귀속 당기순이익', '감가상각비', '법인세차감전순이익',
       '비지배지분에 귀속되는 분기순이익', '비지배지분에 귀속될 분기순이익(손실)', '비지배부분', '비지배기업',
       '비지배지분순손실'], dtype=object)

## 재무상태표

In [32]:
재무상태샘플['종목코드'] = 재무상태샘플['종목코드'].apply(lambda x:x[1:-1])
mask = (재무상태샘플['항목명'].str.contains('손익'))|(재무상태샘플['항목명'].isin(['비지배지분 부채', '비지배주주지분부채', '비지배지분금융부채', '유동비지배지분부채', '비지배주주지분 부채', '비지배지분 비유동부채', '비지배지분 유동부채']))
재무상태샘플 = 재무상태샘플[~mask]

재무상태샘플['항목명'] = 재무상태샘플.apply(lambda x: '자산총계' if x['항목코드'] == 'ifrs_Assets' else x['항목명'], axis=1)
재무상태샘플['항목명'] = 재무상태샘플.apply(lambda x: '자산총계' if x['항목코드'] == 'ifrs-full_Assets' else x['항목명'], axis=1)
재무상태샘플['항목명'] = 재무상태샘플.apply(lambda x: '부채총계' if x['항목코드'] == 'ifrs_Liabilities' else x['항목명'], axis=1)
재무상태샘플['항목명'] = 재무상태샘플.apply(lambda x: '부채총계' if x['항목코드'] == 'ifrs-full_Liabilities' else x['항목명'], axis=1)
재무상태샘플['항목명'] = 재무상태샘플.apply(lambda x: '자본총계' if x['항목코드'] == 'ifrs_Equity' else x['항목명'], axis=1)
재무상태샘플['항목명'] = 재무상태샘플.apply(lambda x: '자본총계' if x['항목코드'] == 'ifrs-full_Equity' else x['항목명'], axis=1)
재무상태샘플['항목명'] = 재무상태샘플.apply(lambda x: '자본총계(비지배)' if x['항목코드'] == 'ifrs_NoncontrollingInterests' else x['항목명'], axis=1)
재무상태샘플['항목명'] = 재무상태샘플.apply(lambda x: '자본총계(비지배)' if x['항목코드'] == 'ifrs-full_NoncontrollingInterests' else x['항목명'], axis=1)
재무상태샘플['항목명'] = 재무상태샘플.apply(lambda x: '유동자산' if x['항목코드'] == 'ifrs_CurrentAssets' else x['항목명'], axis=1)
재무상태샘플['항목명'] = 재무상태샘플.apply(lambda x: '유동자산' if x['항목코드'] == 'ifrs-full_CurrentAssets' else x['항목명'], axis=1)
재무상태샘플['항목명'] = 재무상태샘플.apply(lambda x: '현금및현금성자산' if x['항목코드'] == 'ifrs_CashAndCashEquivalents' else x['항목명'], axis=1)
재무상태샘플['항목명'] = 재무상태샘플.apply(lambda x: '현금및현금성자산' if x['항목코드'] == 'ifrs-full_CashAndCashEquivalents' else x['항목명'], axis=1)
재무상태샘플['항목명'] = 재무상태샘플.apply(lambda x: '자산총계' if x['항목명'] == '자산 총계' else x['항목명'], axis=1)
재무상태샘플['항목명'] = 재무상태샘플.apply(lambda x: '자본총계' if x['항목명'] == '자본 총계' else x['항목명'], axis=1)
재무상태샘플['항목명'] = 재무상태샘플.apply(lambda x: '자본총계(비지배)' if x['항목코드'] == 'ifrs_NoncontrollingInterests' else x['항목명'], axis=1)
재무상태샘플['항목명'] = 재무상태샘플.apply(lambda x: '부채총계' if x['항목명'] == '부채 총계' else x['항목명'], axis=1)
재무상태샘플['항목명'] = 재무상태샘플.apply(lambda x: '유동자산' if x['항목명'] == '유동 자산' else x['항목명'], axis=1)
재무상태샘플['항목명'] = 재무상태샘플.apply(lambda x: '현금및현금성자산' if x['항목명'] == '현금' else x['항목명'], axis=1)
재무상태샘플['항목명'] = 재무상태샘플.apply(lambda x: '현금및현금성자산' if x['항목명'] == '현금성자산' else x['항목명'], axis=1)
재무상태샘플['항목명'] = 재무상태샘플.apply(lambda x: '현금및현금성자산' if x['항목명'] == '기타현금및현금성자산' else x['항목명'], axis=1)
재무상태샘플['항목명'] = 재무상태샘플.apply(lambda x: '현금및현금성자산' if x['항목명'] == '현금 및 현금성자산' else x['항목명'], axis=1)
재무상태샘플['항목명'] = 재무상태샘플.apply(lambda x: '현금및현금성자산' if x['항목명'] == '현금및현금성자산-증권업' else x['항목명'], axis=1)

재무상태샘플['항목코드'] = 재무상태샘플.apply(lambda x: 'ifrs_Assets' if x['항목명'] == '자산총계' else x['항목코드'], axis=1)
재무상태샘플['항목코드'] = 재무상태샘플.apply(lambda x: 'ifrs_Liabilities' if x['항목명'] == '부채총계' else x['항목코드'], axis=1)
재무상태샘플['항목코드'] = 재무상태샘플.apply(lambda x: 'ifrs_Equity' if x['항목명'] == '자본총계' else x['항목코드'], axis=1)
재무상태샘플['항목코드'] = 재무상태샘플.apply(lambda x: 'ifrs_CurrentAssets' if x['항목명'] == '유동자산' else x['항목코드'], axis=1)
재무상태샘플['항목코드'] = 재무상태샘플.apply(lambda x: 'ifrs_CashAndCashEquivalents' if x['항목명'] == '현금및현금성자산' else x['항목코드'], axis=1)
재무상태샘플['항목코드'] = 재무상태샘플.apply(lambda x: 'ifrs_NoncontrollingInterests' if '비지배' in x['항목명'] else x['항목코드'], axis=1)
재무상태샘플['항목명'] = 재무상태샘플.apply(lambda x: '자본총계(비지배)' if x['항목코드'] == 'ifrs_NoncontrollingInterests' else x['항목명'], axis=1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [33]:
재무상태샘플

,종목코드,사업연도,보고서종류,회사명,업종,항목코드,항목명,당기
0,060310,2021,사업보고서,3S,292,ifrs_Assets,자산총계,"54,614,752,349"
1,095570,2021,사업보고서,AJ네트웍스,763,ifrs_Assets,자산총계,"1,355,044,449,955"
2,006840,2021,사업보고서,AK홀딩스,649,ifrs_Assets,자산총계,"4,548,736,656,905"
3,054620,2021,사업보고서,APS홀딩스,649,ifrs_Assets,자산총계,"337,092,577,346"
4,265520,2021,사업보고서,AP시스템,292,ifrs_Assets,자산총계,"428,720,088,928"
...,...,...,...,...,...,...,...,...
21567,010240,2022,1분기보고서,흥국,292,ifrs_CashAndCashEquivalents,현금및현금성자산,"16,028,579,778"
21568,189980,2022,1분기보고서,흥국에프엔비,112,ifrs_CashAndCashEquivalents,현금및현금성자산,"17,648,654,115"
21569,003280,2022,1분기보고서,흥아해운,501,ifrs_CashAndCashEquivalents,현금및현금성자산,"48,758,422,117"
21570,037440,2022,1분기보고서,희림,721,ifrs_CashAndCashEquivalents,현금및현금성자산,"26,045,207,278"
21571,238490,2022,1분기보고서,힘스,292,ifrs_CashAndCashEquivalents,현금및현금성자산,"9,036,463,600"

In [34]:
재무상태샘플['항목명'].unique()

array(['자산총계', '자본총계', '자본총계(비지배)', '부채총계', '유동자산', '현금및현금성자산'],
      dtype=object)

In [35]:
재무상태샘플['항목코드'].unique()

array(['ifrs_Assets', 'ifrs_Equity', 'ifrs_NoncontrollingInterests',
       'ifrs_Liabilities', 'ifrs_CurrentAssets',
       'ifrs_CashAndCashEquivalents'], dtype=object)

# 저장

In [36]:
import datetime as dt
x = dt.datetime.now()
x.year, x.month, x.day

(2022, 7, 4)

In [37]:
현금흐름샘플.to_csv('/content/drive/MyDrive/22캡스톤디자인/재무일괄/업데이트/(21-4, 22-1)/현금흐름일괄.csv')
재무상태샘플.to_csv('/content/drive/MyDrive/22캡스톤디자인/재무일괄/업데이트/(21-4, 22-1)/재무상태표일괄.csv')
포괄손익계산샘플.to_csv('/content/drive/MyDrive/22캡스톤디자인/재무일괄/업데이트/(21-4, 22-1)/포괄손익일괄.csv')
손익계산샘플.to_csv('/content/drive/MyDrive/22캡스톤디자인/재무일괄/업데이트/(21-4, 22-1)/손익일괄.csv')

# 통합

In [38]:
재무상태표일괄 = pd.read_csv('/content/drive/MyDrive/22캡스톤디자인/재무일괄/업데이트/(21-4, 22-1)/재무상태표일괄.csv',index_col = 0,  dtype={'종목코드':'str'})
손익일괄 = pd.read_csv('/content/drive/MyDrive/22캡스톤디자인/재무일괄/업데이트/(21-4, 22-1)/손익일괄.csv',index_col = 0,  dtype={'종목코드':'str'})
포괄손익일괄 = pd.read_csv('/content/drive/MyDrive/22캡스톤디자인/재무일괄/업데이트/(21-4, 22-1)/포괄손익일괄.csv',index_col = 0,  dtype={'종목코드':'str'})
현금흐름일괄 = pd.read_csv('/content/drive/MyDrive/22캡스톤디자인/재무일괄/업데이트/(21-4, 22-1)/현금흐름일괄.csv',index_col = 0,  dtype={'종목코드':'str'})

In [39]:
현금흐름일괄

,종목코드,사업연도,보고서종류,회사명,업종,항목코드,항목명,당기
0,060310,2021,사업보고서,3S,292,ifrs_CashFlowsFromUsedInOperatingActivities,영업활동현금흐름,"871,088,551"
2,095570,2021,사업보고서,AJ네트웍스,763,ifrs_CashFlowsFromUsedInOperatingActivities,영업활동현금흐름,"-11,318,072,318"
3,006840,2021,사업보고서,AK홀딩스,649,ifrs_CashFlowsFromUsedInOperatingActivities,영업활동현금흐름,"-9,766,237,791"
4,054620,2021,사업보고서,APS홀딩스,649,ifrs_CashFlowsFromUsedInOperatingActivities,영업활동현금흐름,"-1,568,988,010"
5,265520,2021,사업보고서,AP시스템,292,ifrs_CashFlowsFromUsedInOperatingActivities,영업활동현금흐름,"63,249,106,032"
...,...,...,...,...,...,...,...,...
14861,010240,2022,1분기보고서,흥국,292,ifrs_CashFlowsFromUsedInFinancingActivities,재무활동현금흐름,"-2,309,643,228"
14862,189980,2022,1분기보고서,흥국에프엔비,112,ifrs_CashFlowsFromUsedInFinancingActivities,재무활동현금흐름,"-75,964,141"
14863,003280,2022,1분기보고서,흥아해운,501,ifrs_CashFlowsFromUsedInFinancingActivities,재무활동현금흐름,"-3,544,038,131"
14864,037440,2022,1분기보고서,희림,721,ifrs_CashFlowsFromUsedInFinancingActivities,재무활동현금흐름,"-2,162,502,506"
14865,238490,2022,1분기보고서,힘스,292,ifrs_CashFlowsFromUsedInFinancingActivities,재무활동현금흐름,"-254,631,420"

In [40]:
재무상태표일괄

,종목코드,사업연도,보고서종류,회사명,업종,항목코드,항목명,당기
0,060310,2021,사업보고서,3S,292,ifrs_Assets,자산총계,"54,614,752,349"
1,095570,2021,사업보고서,AJ네트웍스,763,ifrs_Assets,자산총계,"1,355,044,449,955"
2,006840,2021,사업보고서,AK홀딩스,649,ifrs_Assets,자산총계,"4,548,736,656,905"
3,054620,2021,사업보고서,APS홀딩스,649,ifrs_Assets,자산총계,"337,092,577,346"
4,265520,2021,사업보고서,AP시스템,292,ifrs_Assets,자산총계,"428,720,088,928"
...,...,...,...,...,...,...,...,...
21567,010240,2022,1분기보고서,흥국,292,ifrs_CashAndCashEquivalents,현금및현금성자산,"16,028,579,778"
21568,189980,2022,1분기보고서,흥국에프엔비,112,ifrs_CashAndCashEquivalents,현금및현금성자산,"17,648,654,115"
21569,003280,2022,1분기보고서,흥아해운,501,ifrs_CashAndCashEquivalents,현금및현금성자산,"48,758,422,117"
21570,037440,2022,1분기보고서,희림,721,ifrs_CashAndCashEquivalents,현금및현금성자산,"26,045,207,278"
21571,238490,2022,1분기보고서,힘스,292,ifrs_CashAndCashEquivalents,현금및현금성자산,"9,036,463,600"

In [41]:
손익일괄

,종목코드,사업연도,보고서종류,회사명,업종,항목코드,항목명,당기
0,001040,2021,사업보고서,CJ,649,ifrs_Revenue,매출액,"34,484,026,554,000"
1,000120,2021,사업보고서,CJ대한통운,493,ifrs_Revenue,매출액,"11,343,651,787,492"
2,000990,2021,사업보고서,DB하이텍,261,ifrs_Revenue,매출액,"1,214,682,040,178"
3,000210,2021,사업보고서,DL,649,ifrs_Revenue,매출액,"2,385,420,753,496"
4,375500,2021,사업보고서,DL이앤씨,412,ifrs_Revenue,매출액,"7,631,650,898,582"
...,...,...,...,...,...,...,...,...
1930,111110,2022,1분기보고서,호전실업,141,ifrs_ProfitLossBeforeTax,법인세차감전순이익,"3,074,888,641"
1931,008770,2022,1분기보고서,호텔신라,478,ifrs_ProfitLossBeforeTax,법인세차감전순이익,"-7,795,875,667"
1933,298050,2022,1분기보고서,효성첨단소재,205,ifrs_ProfitLossBeforeTax,법인세차감전순이익,"93,763,702,404"
1934,298020,2022,1분기보고서,효성티앤씨,205,ifrs_ProfitLossBeforeTax,법인세차감전순이익,"159,571,477,299"
1935,298000,2022,1분기보고서,효성화학,201,ifrs_ProfitLossBeforeTax,법인세차감전순이익,"-50,522,540,921"

In [42]:
포괄손익일괄

,종목코드,사업연도,보고서종류,회사명,업종,항목코드,항목명,당기
0,6031,2021,사업보고서,3S,292,ifrs-full_Revenue,매출액,"23,477,908,383"
1,9557,2021,사업보고서,AJ네트웍스,763,ifrs-full_Revenue,매출액,"1,026,749,457,003"
2,0684,2021,사업보고서,AK홀딩스,649,ifrs-full_Revenue,매출액,"3,167,699,652,090"
3,5462,2021,사업보고서,APS홀딩스,649,ifrs-full_Revenue,매출액,"39,415,521,257"
4,6552,2021,사업보고서,AP시스템,292,ifrs-full_Revenue,매출액,"528,740,970,343"
...,...,...,...,...,...,...,...,...
22625,1024,2022,1분기보고서,흥국,292,ifrs-full_ProfitLossBeforeTax,법인세차감전순이익,"3,353,383,900"
22626,8998,2022,1분기보고서,흥국에프엔비,112,ifrs-full_ProfitLossBeforeTax,법인세차감전순이익,"1,236,152,104"
22627,0328,2022,1분기보고서,흥아해운,501,ifrs-full_ProfitLossBeforeTax,법인세차감전순이익,"-371,037,287"
22628,3744,2022,1분기보고서,희림,721,ifrs-full_ProfitLossBeforeTax,법인세차감전순이익,"1,745,202,772"
22629,3849,2022,1분기보고서,힘스,292,ifrs-full_ProfitLossBeforeTax,법인세차감전순이익,"-1,583,135,799"

In [43]:
print(f"현금흐름: {len(현금흐름일괄['종목코드'].unique())}")
print(f"손익계산서: {len(손익일괄['종목코드'].unique())}")
print(f"포괄손익계산서: {len(포괄손익일괄['종목코드'].unique())}")
print(f"재무상태표: {len(재무상태표일괄['종목코드'].unique())}")

현금흐름: 1851
손익계산서: 167
포괄손익계산서: 1737
재무상태표: 1851

In [44]:
통합재무정보 = pd.concat([재무상태표일괄, 포괄손익일괄, 손익일괄, 현금흐름일괄]).drop_duplicates()