<a href="https://colab.research.google.com/github/wkd-woo/finance-statements/blob/main/%EC%9E%AC%EB%AC%B4%EC%83%81%ED%83%9C%ED%91%9C_v2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install -U finance-datareader

In [ ]:
import pandas as pd
import os
import tqdm
import FinanceDataReader as fdr

# 파일별로 분류

In [ ]:
import glob

재무상태표 = [] # _01_
손익계산서 = [] # _02_
포괄손익계산서 = [] # _03_
현금흐름표 = [] # _04_
자본변동표 = [] #_05_


for name in glob.glob('/content/drive/MyDrive/22캡스톤디자인/재무일괄/*.txt'):
  if '_01_' in name:
    재무상태표.append(name)
  elif '_02_' in name:
    손익계산서.append(name)
  elif '_03_' in name:
    포괄손익계산서.append(name)
  elif '_04_' in name:
    현금흐름표.append(name)
  elif '_05_' in name:
    자본변동표.append(name)

In [ ]:
print(재무상태표[:5])
print('------------------------------------------------------------------------------------------')
print(손익계산서[:5])
print('------------------------------------------------------------------------------------------')
print(포괄손익계산서[:5])
print('------------------------------------------------------------------------------------------')
print(현금흐름표[:5])
print('------------------------------------------------------------------------------------------')
print(자본변동표[:5])
print('------------------------------------------------------------------------------------------')

['/content/drive/MyDrive/22캡스톤디자인/재무일괄/2021_1분기보고서_01_재무상태표_연결_.txt', '/content/drive/MyDrive/22캡스톤디자인/재무일괄/2021_반기보고서_01_재무상태표_연결_.txt', '/content/drive/MyDrive/22캡스톤디자인/재무일괄/2016_1분기보고서_01_재무상태표_연결_.txt', '/content/drive/MyDrive/22캡스톤디자인/재무일괄/2016_3분기보고서_01_재무상태표_연결_.txt', '/content/drive/MyDrive/22캡스톤디자인/재무일괄/2016_반기보고서_01_재무상태표_연결_.txt']
------------------------------------------------------------------------------------------
['/content/drive/MyDrive/22캡스톤디자인/재무일괄/2021_1분기보고서_02_손익계산서_연결_.txt', '/content/drive/MyDrive/22캡스톤디자인/재무일괄/2020_사업보고서_02_손익계산서_연결_.txt', '/content/drive/MyDrive/22캡스톤디자인/재무일괄/2019_사업보고서_02_손익계산서_연결_.txt', '/content/drive/MyDrive/22캡스톤디자인/재무일괄/2019_3분기보고서_02_손익계산서_연결_.txt', '/content/drive/MyDrive/22캡스톤디자인/재무일괄/2019_반기보고서_02_손익계산서_연결_.txt']
------------------------------------------------------------------------------------------
['/content/drive/MyDrive/22캡스톤디자인/재무일괄/2020_사업보고서_03_포괄손익계산서_연결_.txt', '/content/drive/MyDrive/22캡스톤디자인/재무일괄/2021_1분기보고서_03_포괄손익계산서_연결_.txt', '/content/drive/MyDrive/22캡스톤디자인/재무일괄/2021_3분기보고서_03_포괄손익계산서_연결_.txt', '/content/drive/MyDrive/22캡스톤디자인/재무일괄/2021_반기보고서_03_포괄손익계산서_연결_.txt', '/content/drive/MyDrive/22캡스톤디자인/재무일괄/2015_사업보고서_03_포괄손익계산서_연결_.txt']
------------------------------------------------------------------------------------------
['/content/drive/MyDrive/22캡스톤디자인/재무일괄/2020_사업보고서_04_현금흐름표_연결_.txt', '/content/drive/MyDrive/22캡스톤디자인/재무일괄/2021_1분기보고서_04_현금흐름표_연결_.txt', '/content/drive/MyDrive/22캡스톤디자인/재무일괄/2021_3분기보고서_04_현금흐름표_연결_.txt', '/content/drive/MyDrive/22캡스톤디자인/재무일괄/2015_사업보고서_04_현금흐름표_연결_.txt', '/content/drive/MyDrive/22캡스톤디자인/재무일괄/2021_반기보고서_04_현금흐름표_연결_.txt']
------------------------------------------------------------------------------------------
['/content/drive/MyDrive/22캡스톤디자인/재무일괄/2020_사업보고서_05_자본변동표_연결_.txt', '/content/drive/MyDrive/22캡스톤디자인/재무일괄/2021_1분기보고서_05_자본변동표_연결_.txt', '/content/drive/MyDrive/22캡스톤디자인/재무일괄/2021_3분기보고서_05_자본변동표_연결_.txt', '/content/drive/MyDrive/22캡스톤디자인/재무일괄/2021_반기보고서_05_자본변동표_연결_.txt', '/content/drive/MyDrive/22캡스톤디자인/재무일괄/2015_사업보고서_05_자본변동표_연결_.txt']
------------------------------------------------------------------------------------------

In [ ]:
path = '/content/drive/MyDrive/22캡스톤디자인/재무일괄/2017_3분기보고서_01_재무상태표_연결_.txt'

In [ ]:
df = pd.read_csv(path, delimiter = '\t', encoding='cp949')

In [ ]:
len('/content/drive/MyDrive/22캡스톤디자인/재무일괄/')

52

In [ ]:
path[52:56]

'2017'

In [ ]:
for each in 재무상태표:
  print(each[52:56])

2021
2021
2016
2016
2016
2016
2017
2017
2017
2017
2018
2018
2018
2018
2019
2019
2019
2019
2020
2020
2020
2020
2021
2015

# 보고서 종류에 따라 2차분류

In [ ]:
당기 = ''
if df['보고서종류'][0] == '1분기보고서':
  당기 = '당기 1분기말' 
elif df['보고서종류'][0] == '반기보고서':
  당기 = '당기 반기말' 
elif df['보고서종류'][0] == '3분기보고서':
  당기 = '당기 3분기말' 
elif df['보고서종류'][0] == '사업보고서':
  당기 = '당기' 

df['사업연도'] = path[52:56]

df = df[['사업연도', '종목코드','보고서종류', '회사명','업종', '항목코드','항목명', 당기]]

In [ ]:
df.head(5)

,사업연도,종목코드,회사명,업종,보고서종류,항목코드,항목명,당기 3분기말
0,2017,[060310],3S,292,3분기보고서,ifrs_AssetsAbstract,자산 [abstract],NaN
1,2017,[060310],3S,292,3분기보고서,ifrs_CurrentAssets,유동자산,"15,427,768,735"
2,2017,[060310],3S,292,3분기보고서,ifrs_CashAndCashEquivalents,현금및현금성자산,"4,160,998,649"
3,2017,[060310],3S,292,3분기보고서,dart_ShortTermDepositsNotClassifiedAsCashEquiv...,단기금융상품,"812,664,004"
4,2017,[060310],3S,292,3분기보고서,ifrs_TradeAndOtherCurrentReceivables,매출채권및기타채권,"6,118,361,060"

In [ ]:
# filename = ''
# for 보고서 in 재무상태표:
#   df = pd.read_csv(보고서, delimiter = '\t', encoding='cp949')
#   당기 = ''
#   if df['보고서종류'][0] == '1분기보고서':
#     당기 = '당기 1분기말' 
#   elif df['보고서종류'][0] == '반기보고서':
#     당기 = '당기 반기말' 
#   elif df['보고서종류'][0] == '3분기보고서':
#     당기 = '당기 3분기말' 
#   elif df['보고서종류'][0] == '사업보고서':
#     당기 = '당기' 
  
#   df['항목코드'] == ''

In [ ]:
sample = pd.DataFrame(columns=['사업연도', '종목코드', '회사명', '업종', '보고서종류', '항목코드', '항목명', '당기'])

In [ ]:
sample

Empty DataFrame
Columns: [사업연도, 종목코드, 회사명, 업종, 보고서종류, 항목코드, 항목명, 당기]
Index: []

# 항목명 컬럼 문자열 전처리

In [ ]:
df['항목명'] = df['항목명'].str.strip()
df.head(5)

,사업연도,종목코드,회사명,업종,보고서종류,항목코드,항목명,당기 3분기말
0,2017,[060310],3S,292,3분기보고서,ifrs_AssetsAbstract,자산 [abstract],NaN
1,2017,[060310],3S,292,3분기보고서,ifrs_CurrentAssets,유동자산,"15,427,768,735"
2,2017,[060310],3S,292,3분기보고서,ifrs_CashAndCashEquivalents,현금및현금성자산,"4,160,998,649"
3,2017,[060310],3S,292,3분기보고서,dart_ShortTermDepositsNotClassifiedAsCashEquiv...,단기금융상품,"812,664,004"
4,2017,[060310],3S,292,3분기보고서,ifrs_TradeAndOtherCurrentReceivables,매출채권및기타채권,"6,118,361,060"

In [ ]:
전체종목 = len(df['종목코드'].unique())

In [ ]:
전체종목

1507

---

# 자산총계(ifrs_Assets)

In [ ]:
df[df['항목명'].str.contains('자산 총계|자산총계')].drop_duplicates(['종목코드', '보고서종류', '항목명'])

,사업연도,종목코드,회사명,업종,보고서종류,항목코드,항목명,당기 3분기말
19,2017,[060310],3S,292,3분기보고서,ifrs_Assets,자산총계,"52,093,665,647"
64,2017,[095570],AJ네트웍스,763,3분기보고서,ifrs_Assets,자산총계,"2,256,582,265,897"
111,2017,[068400],AJ렌터카,761,3분기보고서,ifrs_Assets,자산총계,"1,222,725,021,016"
155,2017,[006840],AK홀딩스,649,3분기보고서,ifrs_Assets,자산총계,"2,901,853,626,429"
204,2017,[054620],APS홀딩스,649,3분기보고서,ifrs_Assets,자산총계,"260,217,637,101"
...,...,...,...,...,...,...,...,...
70197,2017,[069260],휴켐스,204,3분기보고서,ifrs_Assets,자산총계,"880,713,086,193"
70239,2017,[010240],흥국,292,3분기보고서,ifrs_Assets,자산총계,"74,977,224,728"
70276,2017,[189980],흥국에프엔비,112,3분기보고서,ifrs_Assets,자산총계,"70,944,245,345"
70313,2017,[003280],흥아해운,501,3분기보고서,ifrs_Assets,자산총계,"909,589,884,038"
70352,2017,[037440],희림,721,3분기보고서,ifrs_Assets,자산총계,"141,179,954,740"

In [ ]:
df[df['항목코드'] == 'ifrs_Assets']

,사업연도,종목코드,회사명,업종,보고서종류,항목코드,항목명,당기 3분기말
19,2017,[060310],3S,292,3분기보고서,ifrs_Assets,자산총계,"52,093,665,647"
64,2017,[095570],AJ네트웍스,763,3분기보고서,ifrs_Assets,자산총계,"2,256,582,265,897"
111,2017,[068400],AJ렌터카,761,3분기보고서,ifrs_Assets,자산총계,"1,222,725,021,016"
155,2017,[006840],AK홀딩스,649,3분기보고서,ifrs_Assets,자산총계,"2,901,853,626,429"
204,2017,[054620],APS홀딩스,649,3분기보고서,ifrs_Assets,자산총계,"260,217,637,101"
...,...,...,...,...,...,...,...,...
70197,2017,[069260],휴켐스,204,3분기보고서,ifrs_Assets,자산총계,"880,713,086,193"
70239,2017,[010240],흥국,292,3분기보고서,ifrs_Assets,자산총계,"74,977,224,728"
70276,2017,[189980],흥국에프엔비,112,3분기보고서,ifrs_Assets,자산총계,"70,944,245,345"
70313,2017,[003280],흥아해운,501,3분기보고서,ifrs_Assets,자산총계,"909,589,884,038"
70352,2017,[037440],희림,721,3분기보고서,ifrs_Assets,자산총계,"141,179,954,740"

In [ ]:
당기

'당기 3분기말'

In [ ]:
항목코드기준_diff = abs(len(df['종목코드'].unique()) - len(df[df['항목코드'] == 'ifrs_Assets']))
항목명기준_diff = abs(len(df['종목코드'].unique()) - len(df[df['항목명'].str.contains('자산 총계|자산총계')].drop_duplicates(['종목코드', '보고서종류', '항목명'])))

In [ ]:
if 항목코드기준_diff < 항목명기준_diff:
  # 기준: 항목코드
  결과 = df[df['항목코드'] == 'ifrs_Assets']
else:
  # 기준: 항목명
  결과 = df[df['항목명'].str.contains('자산 총계|자산총계')].drop_duplicates(['종목코드', '보고서종류', '항목명'])

#결과.rename(columns={당기:"당기", inplace=True})

In [ ]:
결과.rename(columns={당기:"당기"}, inplace=True)
결과

,사업연도,종목코드,회사명,업종,보고서종류,항목코드,항목명,당기
19,2017,[060310],3S,292,3분기보고서,ifrs_Assets,자산총계,"52,093,665,647"
64,2017,[095570],AJ네트웍스,763,3분기보고서,ifrs_Assets,자산총계,"2,256,582,265,897"
111,2017,[068400],AJ렌터카,761,3분기보고서,ifrs_Assets,자산총계,"1,222,725,021,016"
155,2017,[006840],AK홀딩스,649,3분기보고서,ifrs_Assets,자산총계,"2,901,853,626,429"
204,2017,[054620],APS홀딩스,649,3분기보고서,ifrs_Assets,자산총계,"260,217,637,101"
...,...,...,...,...,...,...,...,...
70197,2017,[069260],휴켐스,204,3분기보고서,ifrs_Assets,자산총계,"880,713,086,193"
70239,2017,[010240],흥국,292,3분기보고서,ifrs_Assets,자산총계,"74,977,224,728"
70276,2017,[189980],흥국에프엔비,112,3분기보고서,ifrs_Assets,자산총계,"70,944,245,345"
70313,2017,[003280],흥아해운,501,3분기보고서,ifrs_Assets,자산총계,"909,589,884,038"
70352,2017,[037440],희림,721,3분기보고서,ifrs_Assets,자산총계,"141,179,954,740"

In [ ]:
sample.append(결과, sort=False, ignore_index=True)

,사업연도,종목코드,회사명,업종,보고서종류,항목코드,항목명,당기
0,2017,[060310],3S,292,3분기보고서,ifrs_Assets,자산총계,"52,093,665,647"
1,2017,[095570],AJ네트웍스,763,3분기보고서,ifrs_Assets,자산총계,"2,256,582,265,897"
2,2017,[068400],AJ렌터카,761,3분기보고서,ifrs_Assets,자산총계,"1,222,725,021,016"
3,2017,[006840],AK홀딩스,649,3분기보고서,ifrs_Assets,자산총계,"2,901,853,626,429"
4,2017,[054620],APS홀딩스,649,3분기보고서,ifrs_Assets,자산총계,"260,217,637,101"
...,...,...,...,...,...,...,...,...
1501,2017,[069260],휴켐스,204,3분기보고서,ifrs_Assets,자산총계,"880,713,086,193"
1502,2017,[010240],흥국,292,3분기보고서,ifrs_Assets,자산총계,"74,977,224,728"
1503,2017,[189980],흥국에프엔비,112,3분기보고서,ifrs_Assets,자산총계,"70,944,245,345"
1504,2017,[003280],흥아해운,501,3분기보고서,ifrs_Assets,자산총계,"909,589,884,038"
1505,2017,[037440],희림,721,3분기보고서,ifrs_Assets,자산총계,"141,179,954,740"

In [ ]:
len(df['종목코드'].unique())

1507

In [ ]:
df[df['항목코드'] == 'ifrs_Assets']

,사업연도,종목코드,회사명,업종,보고서종류,항목코드,항목명,당기 3분기말
19,2017,[060310],3S,292,3분기보고서,ifrs_Assets,자산총계,"52,093,665,647"
64,2017,[095570],AJ네트웍스,763,3분기보고서,ifrs_Assets,자산총계,"2,256,582,265,897"
111,2017,[068400],AJ렌터카,761,3분기보고서,ifrs_Assets,자산총계,"1,222,725,021,016"
155,2017,[006840],AK홀딩스,649,3분기보고서,ifrs_Assets,자산총계,"2,901,853,626,429"
204,2017,[054620],APS홀딩스,649,3분기보고서,ifrs_Assets,자산총계,"260,217,637,101"
...,...,...,...,...,...,...,...,...
70197,2017,[069260],휴켐스,204,3분기보고서,ifrs_Assets,자산총계,"880,713,086,193"
70239,2017,[010240],흥국,292,3분기보고서,ifrs_Assets,자산총계,"74,977,224,728"
70276,2017,[189980],흥국에프엔비,112,3분기보고서,ifrs_Assets,자산총계,"70,944,245,345"
70313,2017,[003280],흥아해운,501,3분기보고서,ifrs_Assets,자산총계,"909,589,884,038"
70352,2017,[037440],희림,721,3분기보고서,ifrs_Assets,자산총계,"141,179,954,740"

Empty DataFrame
Columns: [사업연도, 종목코드, 회사명, 업종, 보고서종류, 항목코드, 항목명, 당기 3분기말]
Index: []

<br>
<br>

---

# 자본총계(ifrs_Equity)

In [ ]:
df[df['항목명'].str.contains('자본총계|자본 총계')]['항목명'].unique()

array(['자본총계', '부채및자본총계', '부채와 자본총계', '부채와자본총계', '부채와 자본 총계',
       '부채 및 자본 총계', '부채 및 자본총계', '자본 총계', '부채와자본 총계'], dtype=object)

In [ ]:
mask = df['항목명'].isin(['부채및자본총계', '부채와 자본총계', '부채와자본총계', '부채 및 자본총계', '지배주주자본 총계',
       '부채와 자본 총계', '부채 및 자본 총계', '부채와자본 총계', '부채과자본총계'])


temp = df[~mask]
temp[temp['항목명'].str.contains('자본총계|자본 총계')].drop_duplicates(['종목코드', '보고서종류', '항목명'])

,사업연도,종목코드,회사명,업종,보고서종류,항목코드,항목명,당기 3분기말
41,2017,[060310],3S,292,3분기보고서,ifrs_Equity,자본총계,"28,208,080,133"
91,2017,[095570],AJ네트웍스,763,3분기보고서,ifrs_Equity,자본총계,"446,025,426,853"
130,2017,[068400],AJ렌터카,761,3분기보고서,ifrs_Equity,자본총계,"245,662,901,644"
181,2017,[006840],AK홀딩스,649,3분기보고서,ifrs_Equity,자본총계,"1,135,115,218,167"
232,2017,[054620],APS홀딩스,649,3분기보고서,ifrs_Equity,자본총계,"190,222,472,202"
...,...,...,...,...,...,...,...,...
70222,2017,[069260],휴켐스,204,3분기보고서,ifrs_Equity,자본총계,"565,125,103,375"
70260,2017,[010240],흥국,292,3분기보고서,ifrs_Equity,자본총계,"54,310,667,378"
70294,2017,[189980],흥국에프엔비,112,3분기보고서,ifrs_Equity,자본총계,"58,133,549,511"
70333,2017,[003280],흥아해운,501,3분기보고서,ifrs_Equity,자본총계,"145,289,627,954"
70376,2017,[037440],희림,721,3분기보고서,ifrs_Equity,자본총계,"49,890,696,160"

In [ ]:
df[df['항목코드'] == 'ifrs_Equity']

,사업연도,종목코드,회사명,업종,보고서종류,항목코드,항목명,당기 3분기말
41,2017,[060310],3S,292,3분기보고서,ifrs_Equity,자본총계,"28,208,080,133"
91,2017,[095570],AJ네트웍스,763,3분기보고서,ifrs_Equity,자본총계,"446,025,426,853"
130,2017,[068400],AJ렌터카,761,3분기보고서,ifrs_Equity,자본총계,"245,662,901,644"
181,2017,[006840],AK홀딩스,649,3분기보고서,ifrs_Equity,자본총계,"1,135,115,218,167"
232,2017,[054620],APS홀딩스,649,3분기보고서,ifrs_Equity,자본총계,"190,222,472,202"
...,...,...,...,...,...,...,...,...
70222,2017,[069260],휴켐스,204,3분기보고서,ifrs_Equity,자본총계,"565,125,103,375"
70260,2017,[010240],흥국,292,3분기보고서,ifrs_Equity,자본총계,"54,310,667,378"
70294,2017,[189980],흥국에프엔비,112,3분기보고서,ifrs_Equity,자본총계,"58,133,549,511"
70333,2017,[003280],흥아해운,501,3분기보고서,ifrs_Equity,자본총계,"145,289,627,954"
70376,2017,[037440],희림,721,3분기보고서,ifrs_Equity,자본총계,"49,890,696,160"

In [ ]:
mask = df['항목명'].isin(['부채및자본총계', '부채와 자본총계', '부채와자본총계', '부채 및 자본총계', '지배주주자본 총계',
       '부채와 자본 총계', '부채 및 자본 총계', '부채와자본 총계', '부채과자본총계'])


temp = df[~mask]
temp[temp['항목명'].str.contains('자본총계|자본 총계')].drop_duplicates(['종목코드', '보고서종류', '항목명'])

항목코드기준_diff = abs(len(df['종목코드'].unique()) - len(df[df['항목코드'] == 'ifrs_Equity']))
항목명기준_diff = abs(len(df['종목코드'].unique()) - len(temp[temp['항목명'].str.contains('자본총계|자본 총계')].drop_duplicates(['종목코드', '보고서종류', '항목명'])))

In [ ]:
if 항목코드기준_diff < 항목명기준_diff:
  # 기준: 항목코드
  df[df['항목코드'] == 'ifrs_Equity']
else:
  # 기준: 항목명
  temp[temp['항목명'].str.contains('자본총계|자본 총계')].drop_duplicates(['종목코드', '보고서종류', '항목명'])

In [ ]:
len(df['종목코드'].unique())

1507

<br>
<br>

---

# 부채총계(ifrs_Liabilities)

In [ ]:
df[df['항목명'].str.contains('부채총계|부채 총계')]['항목명'].unique()

array(['부채총계', '자본과부채총계', '자본및부채총계', '자본과 부채총계', '부채 총계', '자본 및 부채총계'],
      dtype=object)

In [ ]:
mask = df['항목명'].isin(['자본과부채총계', '자본과 부채총계', '자본및부채총계','자본 및 부채총계',
       '자본과 부채 총계'])


temp = df[~mask]
temp[temp['항목명'].str.contains('부채총계|부채 총계')].drop_duplicates(['종목코드', '보고서종류', '항목명'])

,사업연도,종목코드,회사명,업종,보고서종류,항목코드,항목명,당기 3분기말
33,2017,[060310],3S,292,3분기보고서,ifrs_Liabilities,부채총계,"23,885,585,514"
82,2017,[095570],AJ네트웍스,763,3분기보고서,ifrs_Liabilities,부채총계,"1,810,556,839,044"
122,2017,[068400],AJ렌터카,761,3분기보고서,ifrs_Liabilities,부채총계,"977,062,119,372"
172,2017,[006840],AK홀딩스,649,3분기보고서,ifrs_Liabilities,부채총계,"1,766,738,408,262"
220,2017,[054620],APS홀딩스,649,3분기보고서,ifrs_Liabilities,부채총계,"69,995,164,899"
...,...,...,...,...,...,...,...,...
70213,2017,[069260],휴켐스,204,3분기보고서,ifrs_Liabilities,부채총계,"315,587,982,818"
70252,2017,[010240],흥국,292,3분기보고서,ifrs_Liabilities,부채총계,"20,666,557,350"
70286,2017,[189980],흥국에프엔비,112,3분기보고서,ifrs_Liabilities,부채총계,"12,810,695,834"
70325,2017,[003280],흥아해운,501,3분기보고서,ifrs_Liabilities,부채총계,"764,300,256,084"
70367,2017,[037440],희림,721,3분기보고서,ifrs_Liabilities,부채총계,"91,289,258,580"

In [ ]:
len(temp[temp['항목명'].str.contains('부채총계|부채 총계')]['종목코드'].unique())

1506

In [ ]:
df[df['항목코드'] == 'ifrs_Liabilities']

,사업연도,종목코드,회사명,업종,보고서종류,항목코드,항목명,당기 3분기말
33,2017,[060310],3S,292,3분기보고서,ifrs_Liabilities,부채총계,"23,885,585,514"
82,2017,[095570],AJ네트웍스,763,3분기보고서,ifrs_Liabilities,부채총계,"1,810,556,839,044"
122,2017,[068400],AJ렌터카,761,3분기보고서,ifrs_Liabilities,부채총계,"977,062,119,372"
172,2017,[006840],AK홀딩스,649,3분기보고서,ifrs_Liabilities,부채총계,"1,766,738,408,262"
220,2017,[054620],APS홀딩스,649,3분기보고서,ifrs_Liabilities,부채총계,"69,995,164,899"
...,...,...,...,...,...,...,...,...
70213,2017,[069260],휴켐스,204,3분기보고서,ifrs_Liabilities,부채총계,"315,587,982,818"
70252,2017,[010240],흥국,292,3분기보고서,ifrs_Liabilities,부채총계,"20,666,557,350"
70286,2017,[189980],흥국에프엔비,112,3분기보고서,ifrs_Liabilities,부채총계,"12,810,695,834"
70325,2017,[003280],흥아해운,501,3분기보고서,ifrs_Liabilities,부채총계,"764,300,256,084"
70367,2017,[037440],희림,721,3분기보고서,ifrs_Liabilities,부채총계,"91,289,258,580"

In [ ]:
df[df['항목코드'] == 'ifrs-full_Liabilities']

Empty DataFrame
Columns: [사업연도, 종목코드, 회사명, 업종, 보고서종류, 항목코드, 항목명, 당기 3분기말]
Index: []

In [ ]:
mask = df['항목명'].isin(['부채및자본총계', '부채와 자본총계', '부채와자본총계', '부채 및 자본총계', '지배주주자본 총계',
       '부채와 자본 총계', '부채 및 자본 총계', '부채와자본 총계', '부채과자본총계'])


temp = df[~mask]
temp[temp['항목명'].str.contains('자본총계|자본 총계')].drop_duplicates(['종목코드', '보고서종류', '항목명'])

항목코드기준_diff = abs(len(df['종목코드'].unique()) - len(df[df['항목코드'] == 'ifrs_Liabilities']))
항목명기준_diff = abs(len(df['종목코드'].unique()) - len(temp[temp['항목명'].str.contains('자본총계|자본 총계')].drop_duplicates(['종목코드', '보고서종류', '항목명'])))

In [ ]:
if 항목코드기준_diff < 항목명기준_diff:
  # 기준: 항목코드
  df[df['항목코드'] == 'ifrs_Liabilities']
else:
  # 기준: 항목명
  temp[temp['항목명'].str.contains('자본총계|자본 총계')].drop_duplicates(['종목코드', '보고서종류', '항목명'])

In [ ]:
len(df['종목코드'].unique())

1507

<br>
<br>

---

# 유동자산(ifrs_CurrentAssets)

In [ ]:
df[df['항목명'].str.contains('유동자산|유동 자산')]['항목명'].unique()

array(['유동자산', '기타유동자산', '비유동자산', '기타비유동자산',
       '매각예정 또는 소유주에 대한 분배예정으로 분류된 비유동자산이나 처분자산집단', '5.기타유동자산',
       '9.기타비유동자산', '매각예정비유동자산', 'Ⅰ.유동자산', 'Ⅱ.비유동자산', '기타의유동자산',
       '기타의비유동자산', 'I. 유동자산', 'II. 비유동자산', 'l. 유동자산', '기타의 유동자산',
       'll. 비유동자산', '기타의 비유동자산', '매각예정유동자산', 'I. 비유동자산', 'II. 유동자산',
       'I.유동자산', 'II.비유동자산', '매각예정비유동자산관련부채', '매각예정  비유동자산', '7.기타유동자산',
       '매각예정으로 분류된 비유동자산이나 처분자산집단', 'II.매각예정비유동자산', 'III.비유동자산',
       '7.기타비유동자산', '선급금 및 기타유동자산', 'Ⅰ. 유동자산', 'Ⅱ. 비유동자산',
       '매각예정비유동자산과 직접 관련된 부채', '기타의기타비유동자산', '5. 기타유동자산', '3. 기타비유동자산',
       '매각예정 비유동자산', '8. 기타유동자산', '9. 기타비유동자산',
       '소유주에 대한 분배예정으로 분류된 비유동자산이나 처분자산집단'], dtype=object)

In [ ]:
mask = df['항목명'].str.contains('비유동|비 유동|기타|매각|합계')

temp = df[~mask]
temp[temp['항목명'].str.contains('유동자산|유동 자산')].drop_duplicates(['종목코드', '보고서종류', '항목명'])

,사업연도,종목코드,회사명,업종,보고서종류,항목코드,항목명,당기 3분기말
1,2017,[060310],3S,292,3분기보고서,ifrs_CurrentAssets,유동자산,"15,427,768,735"
44,2017,[095570],AJ네트웍스,763,3분기보고서,ifrs_CurrentAssets,유동자산,"297,507,805,803"
94,2017,[068400],AJ렌터카,761,3분기보고서,ifrs_CurrentAssets,유동자산,"91,522,793,840"
133,2017,[006840],AK홀딩스,649,3분기보고서,ifrs_CurrentAssets,유동자산,"1,202,890,814,676"
184,2017,[054620],APS홀딩스,649,3분기보고서,ifrs_CurrentAssets,유동자산,"114,531,273,763"
...,...,...,...,...,...,...,...,...
70181,2017,[069260],휴켐스,204,3분기보고서,ifrs_CurrentAssets,유동자산,"491,656,573,908"
70225,2017,[010240],흥국,292,3분기보고서,ifrs_CurrentAssets,유동자산,"30,345,837,207"
70263,2017,[189980],흥국에프엔비,112,3분기보고서,ifrs_CurrentAssets,유동자산,"21,848,970,842"
70297,2017,[003280],흥아해운,501,3분기보고서,ifrs_CurrentAssets,유동자산,"120,131,935,713"
70336,2017,[037440],희림,721,3분기보고서,ifrs_CurrentAssets,유동자산,"114,779,854,024"

In [ ]:
temp[temp['항목명'].str.contains('유동자산|유동 자산')]['항목명'].unique()

array(['유동자산', 'Ⅰ.유동자산', 'I. 유동자산', 'l. 유동자산', 'II. 유동자산', 'I.유동자산',
       'Ⅰ. 유동자산'], dtype=object)

In [ ]:
df[df['항목코드'] == 'ifrs_CurrentAssets']

,사업연도,종목코드,회사명,업종,보고서종류,항목코드,항목명,당기 3분기말
1,2017,[060310],3S,292,3분기보고서,ifrs_CurrentAssets,유동자산,"15,427,768,735"
44,2017,[095570],AJ네트웍스,763,3분기보고서,ifrs_CurrentAssets,유동자산,"297,507,805,803"
94,2017,[068400],AJ렌터카,761,3분기보고서,ifrs_CurrentAssets,유동자산,"91,522,793,840"
133,2017,[006840],AK홀딩스,649,3분기보고서,ifrs_CurrentAssets,유동자산,"1,202,890,814,676"
184,2017,[054620],APS홀딩스,649,3분기보고서,ifrs_CurrentAssets,유동자산,"114,531,273,763"
...,...,...,...,...,...,...,...,...
70181,2017,[069260],휴켐스,204,3분기보고서,ifrs_CurrentAssets,유동자산,"491,656,573,908"
70225,2017,[010240],흥국,292,3분기보고서,ifrs_CurrentAssets,유동자산,"30,345,837,207"
70263,2017,[189980],흥국에프엔비,112,3분기보고서,ifrs_CurrentAssets,유동자산,"21,848,970,842"
70297,2017,[003280],흥아해운,501,3분기보고서,ifrs_CurrentAssets,유동자산,"120,131,935,713"
70336,2017,[037440],희림,721,3분기보고서,ifrs_CurrentAssets,유동자산,"114,779,854,024"

In [ ]:
mask = df['항목명'].str.contains('비유동|비 유동|기타|매각|합계')

temp = df[~mask]
temp[temp['항목명'].str.contains('유동자산|유동 자산')].drop_duplicates(['종목코드', '보고서종류', '항목명'])

,사업연도,종목코드,회사명,업종,보고서종류,항목코드,항목명,당기 3분기말
1,2017,[060310],3S,292,3분기보고서,ifrs_CurrentAssets,유동자산,"15,427,768,735"
44,2017,[095570],AJ네트웍스,763,3분기보고서,ifrs_CurrentAssets,유동자산,"297,507,805,803"
94,2017,[068400],AJ렌터카,761,3분기보고서,ifrs_CurrentAssets,유동자산,"91,522,793,840"
133,2017,[006840],AK홀딩스,649,3분기보고서,ifrs_CurrentAssets,유동자산,"1,202,890,814,676"
184,2017,[054620],APS홀딩스,649,3분기보고서,ifrs_CurrentAssets,유동자산,"114,531,273,763"
...,...,...,...,...,...,...,...,...
70181,2017,[069260],휴켐스,204,3분기보고서,ifrs_CurrentAssets,유동자산,"491,656,573,908"
70225,2017,[010240],흥국,292,3분기보고서,ifrs_CurrentAssets,유동자산,"30,345,837,207"
70263,2017,[189980],흥국에프엔비,112,3분기보고서,ifrs_CurrentAssets,유동자산,"21,848,970,842"
70297,2017,[003280],흥아해운,501,3분기보고서,ifrs_CurrentAssets,유동자산,"120,131,935,713"
70336,2017,[037440],희림,721,3분기보고서,ifrs_CurrentAssets,유동자산,"114,779,854,024"

In [ ]:
len(temp[temp['항목명'].str.contains('유동자산|유동 자산')]['종목코드'].unique())

1506

In [ ]:
항목코드기준_diff = abs(전체종목 - len(df[df['항목코드'] == 'ifrs_CurrentAssets']))
항목명기준_diff = abs(전체종목 -  len(temp[temp['항목명'].str.contains('유동자산|유동 자산')].drop_duplicates(['종목코드', '보고서종류', '항목명'])))

In [ ]:
if 항목코드기준_diff < 항목명기준_diff:
  # 기준: 항목코드
  df[df['항목코드'] == 'ifrs_CurrentAssets']
else:
  # 기준: 항목명
  temp[temp['항목명'].str.contains('유동자산|유동 자산')].drop_duplicates(['종목코드', '보고서종류', '항목명'])

In [ ]:
len(df['종목코드'].unique())

1507

<br>
<br>

---

# 현금 및 현금성자산(ifrs_CashAndCashEquivalents)

In [ ]:
항목코드기준_diff = abs(len(df['종목코드'].unique()) - len(df[df['항목코드'] == 'ifrs_CashAndCashEquivalents']))

In [ ]:
df[df['항목코드'] == 'ifrs_CashAndCashEquivalents']

,사업연도,종목코드,회사명,업종,보고서종류,항목코드,항목명,당기 3분기말
2,2017,[060310],3S,292,3분기보고서,ifrs_CashAndCashEquivalents,현금및현금성자산,"4,160,998,649"
45,2017,[095570],AJ네트웍스,763,3분기보고서,ifrs_CashAndCashEquivalents,현금및현금성자산,"52,463,954,021"
95,2017,[068400],AJ렌터카,761,3분기보고서,ifrs_CashAndCashEquivalents,현금및현금성자산,"24,129,286,543"
134,2017,[006840],AK홀딩스,649,3분기보고서,ifrs_CashAndCashEquivalents,현금및현금성자산,"309,116,524,394"
185,2017,[054620],APS홀딩스,649,3분기보고서,ifrs_CashAndCashEquivalents,현금및현금성자산,"33,391,084,053"
...,...,...,...,...,...,...,...,...
70187,2017,[069260],휴켐스,204,3분기보고서,ifrs_CashAndCashEquivalents,현금및현금성자산,"9,528,061,322"
70226,2017,[010240],흥국,292,3분기보고서,ifrs_CashAndCashEquivalents,현금및현금성자산,"3,911,160,811"
70264,2017,[189980],흥국에프엔비,112,3분기보고서,ifrs_CashAndCashEquivalents,현금및현금성자산,"2,684,570,223"
70298,2017,[003280],흥아해운,501,3분기보고서,ifrs_CashAndCashEquivalents,현금및현금성자산,"19,769,777,540"
70337,2017,[037440],희림,721,3분기보고서,ifrs_CashAndCashEquivalents,현금및현금성자산,"16,546,968,296"

In [ ]:
len(df[df['항목코드'] == 'ifrs_CashAndCashEquivalents']['종목코드'].unique())

1504

In [ ]:
temp[temp['항목명'].str.contains('현금')]['항목명'].unique()

array(['현금및현금성자산', '1.현금및현금성자산', '현금 및 현금성자산', '현금', '현금성자산', '보유현금',
       '현금및 현금성자산', '현금흐름위험회피파생상품평가손실', '현금흐름위험회피파생상품평가이익', '국고보조금(현금차감)',
       '현금및현금성자산-증권업', '1. 현금및현금성자산', '현금성자산(정기예금)'], dtype=object)

In [ ]:
mask = df['항목명'].str.contains('국고보조금(현금차감)|현금흐름위험회피파생상품평가손실')


temp = df[~mask]
temp[temp['항목명'].str.contains('현금')].drop_duplicates(['종목코드', '보고서종류', 당기])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  """Entry point for launching an IPython kernel.

,사업연도,종목코드,회사명,업종,보고서종류,항목코드,항목명,당기 3분기말
2,2017,[060310],3S,292,3분기보고서,ifrs_CashAndCashEquivalents,현금및현금성자산,"4,160,998,649"
45,2017,[095570],AJ네트웍스,763,3분기보고서,ifrs_CashAndCashEquivalents,현금및현금성자산,"52,463,954,021"
95,2017,[068400],AJ렌터카,761,3분기보고서,ifrs_CashAndCashEquivalents,현금및현금성자산,"24,129,286,543"
134,2017,[006840],AK홀딩스,649,3분기보고서,ifrs_CashAndCashEquivalents,현금및현금성자산,"309,116,524,394"
185,2017,[054620],APS홀딩스,649,3분기보고서,ifrs_CashAndCashEquivalents,현금및현금성자산,"33,391,084,053"
...,...,...,...,...,...,...,...,...
70187,2017,[069260],휴켐스,204,3분기보고서,ifrs_CashAndCashEquivalents,현금및현금성자산,"9,528,061,322"
70226,2017,[010240],흥국,292,3분기보고서,ifrs_CashAndCashEquivalents,현금및현금성자산,"3,911,160,811"
70264,2017,[189980],흥국에프엔비,112,3분기보고서,ifrs_CashAndCashEquivalents,현금및현금성자산,"2,684,570,223"
70298,2017,[003280],흥아해운,501,3분기보고서,ifrs_CashAndCashEquivalents,현금및현금성자산,"19,769,777,540"
70337,2017,[037440],희림,721,3분기보고서,ifrs_CashAndCashEquivalents,현금및현금성자산,"16,546,968,296"

In [ ]:
항목코드기준_diff = abs(len(df['종목코드'].unique()) - len(df[df['항목코드'] == 'ifrs_CashAndCashEquivalents']))
항목명기준_diff = abs(len(df['종목코드'].unique()) - len(temp[temp['항목명'].str.contains('현금')].drop_duplicates(['종목코드', '보고서종류', 당기])))

In [ ]:
if 항목코드기준_diff < 항목명기준_diff:
  # 기준: 항목코드
  sample.concat(df[df['항목코드'] == 'ifrs_CashAndCashEquivalents'])
else:
  # 기준: 항목명
  temp[temp['항목명'].str.contains('현금')].drop_duplicates(['종목코드', '보고서종류', 당기])

In [ ]:
len(df['종목코드'].unique())

1507